@(event: Event, shiftId: Long, volunteerForm: Form[Volunteer])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

      	  @general.alerts()
		  @if(volunteerForm.hasErrors) {
	        <div class="alert alert-dismissable alert-danger">
	        <button type="button" class="close" data-dismiss="alert">&times;</button>
	          @Messages("form.has.errors")
	        </div>
          }
		  @if(volunteerForm.hasGlobalErrors) {
			<div class="info-board info-board-red"> 
				<span class="label label-important">@volunteerForm.globalError.message</span>
			</div>
		  }
      	@form(controllers.routes.VolunteersMgmt.saveShiftVolunteer(event, shiftId), 'id -> "volunteerForm") {
		
	    	@inputText(volunteerForm("firstName"), '_addon -> "glyphicon-user", '_label -> "nolabel", 'placeholder -> "Req: First Name", 'class -> "form-control")
            @inputText(volunteerForm("lastName"), '_addon -> "glyphicon-user", '_label -> "nolabel", 'placeholder -> "Req: Last Name", 'class -> "form-control")
	        @inputText(volunteerForm("email"), '_addon -> "@", '_label -> "nolabel", 'placeholder -> "Req: Email", 'class -> "form-control")




            @******phno format*************24.08.2015***************start*****@

            <div style="display:none;">
            @inputText(volunteerForm("phone"), '_label -> "nolabel", 'id -> "phNo", 'class -> "form-control", '_addon -> "glyphicon-earphone", 'placeholder -> "Phone: 555-555-1212 (only numbers)", 'title -> "10 digits and numeric only  and the format will be like example(ex.123-345-5678)")

            </div>







            @*<div>
            <b>Emergency Contact Phone Number(Optional)</b>
            </div>
            *@
            <div>
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">

                                    <span class="glyphicon-earphone" style="vertical-align:middle"/>
                                </span>


                                <input type="text" addon="glyphicon-earphone" onkeyup="autoFormAdvance(3,'areaCode','phonePre')" id="areaCode" maxlength="3" size="3"/>
                            </div>
                        </td>
                        <td> - </td>
                        <td><input type="text" onkeyup="autoFormAdvance(3,'phonePre','phoneSuf')" id="phonePre" maxlength="3" size="3" /></td>
                        <td> - </td>
                        <td> <input type="text" id="phoneSuf" onkeyup="mergeTotalPhNo()"  maxlength="4" size="4"/></td>
                    </tr>
                </table>
            </div>
            <div>
                (Enter Phone No)
            </div>
            <br />
            @******phno format*************24.08.2015***************end*****@

           @* @inputText(volunteerForm("phone"), '_label -> "nolabel", 'id -> "phNo", 'class -> "form-control", '_addon -> "glyphicon-earphone", 'placeholder -> "Phone: 555-555-1212 (only numbers)", 'title -> "10 digits and numeric only  and the format will be like example(ex.123-345-5678)")*@

	        @*  @inputText(volunteerForm("phone"), '_addon -> "glyphicon-earphone", '_label -> "nolabel", 'placeholder -> "Phone: 555-555-1212 (only numbers)", 'class -> "form-control", 'title -> "10 digits (numeric only)")*@




            @******phno format*************24.08.2015***************start*****@

            <div style="display:none;">
            @inputText(volunteerForm("mobile"), '_addon -> "glyphicon-earphone",'id -> "mobileNo", '_label -> "nolabel", 'placeholder -> "Mobile: 555-555-1212 (only numbers)", 'class -> "form-control", 'title -> "10 digits (numeric only)")

            </div>





            @*<div>
            <b>Emergency Contact Phone Number(Optional)</b>
            </div>*@

            <div>


                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">

                                    <span class="glyphicon-earphone" style="vertical-align:middle"/>
                                </span>
                                <input type="text"  addon="glyphicon-earphone" onkeyup="autoFormAdvance(3,'areaCode1','phonePre1')" id="areaCode1" maxlength="3" size="3"/>
                            </div>
                        </td>
                        <td> - </td>
                        <td><input type="text" onkeyup="autoFormAdvance(3,'phonePre1','phoneSuf1')" id="phonePre1" maxlength="3" size="3" /></td>
                        <td> - </td>
                        <td> <input type="text" id="phoneSuf1" onkeyup="mergeTotalPhNo1()"  maxlength="4" size="4"/></td>
                    </tr>
                </table>
            </div>
            <div>
                (Enter mobile No)
            </div>
            <br />

            @******phno format*************24.08.2015***************end*****@




          @*  @inputText(volunteerForm("mobile"), '_addon -> "glyphicon-earphone",'id -> "mobileNo", '_label -> "nolabel", 'placeholder -> "Mobile: 555-555-1212 (only numbers)", 'class -> "form-control", 'title -> "10 digits (numeric only)")*@
			@inputText(volunteerForm("note"), '_addon -> "glyphicon-file", '_label -> "nolabel", 'placeholder -> "Note", 'class -> "form-control")
			<button type="button" class="btn btn-green" id="checkout" onclick="submitVolunteerForm();">Signup</button>
            <a href="#" class="btn btn-default" type="button" id="cancelVolunteer">Cancel</a>
		
		}
<script src="@ControllerUtil.getResourceRoute("scVolunteersView.min.js")"></script>


<script>

//=========new add


   $( "#phNo" ).keyup(function(){
   //alert("on keyup")

   var phNo1;
   //var lastChar;
   var phNo = document.getElementById("phNo").value;
   //alert("phNo "+phNo)
   //previousLength = phNo.length;
   //alert("phNo "+phNo)
   currentLength = phNo.length;
   //alert("currentLength :: "+currentLength);
   //alert("previousLength :: "+previousLength);
var length;

if(currentLength == 4 || currentLength == 8){
//alert("if(currentLength == 4 || currentLength == 8)");
var lastChar = phNo.charAt(currentLength-1);
//alert("lastChar "+lastChar);
if(lastChar!= '-'){
phNo = phNo.substring(0,currentLength-1);
phNo =phNo.concat("-");
phNo = phNo.concat(lastChar);

}
//phPart1 = phNo;
previousLength = phNo.length;
 $('#phNo').val(phNo);

}




else{

   if(currentLength<previousLength){
//alert("currentLength<previousLength");
   previousLength = currentLength;
   if(currentLength> 0){
   //alert("currentLength ::"+currentLength);
//alert("phNo "+phNo);
var lastChar = phNo.charAt(currentLength-1);

//alert("lastChar"+lastChar);
if(lastChar == '-'){
phNo = phNo.substring(0,currentLength-1);
}
else{
phNo = phNo.substring(0,currentLength);
}
   //alert("if return");
//phNo = phNo.substring(0,currentLength);
     $('#phNo').val(phNo);

   }

   phPart1 = null;
   }


else{
   //alert("else");

      if( phNo.length <8){
      previousLength = phNo.length;
      if(phNo.contains("-")){
     // alert("phNo.contains("-")")
      length = phNo.length;
     // alert("length1 "+length)
        phNo = phNo.substring(phNo.indexOf("-")+1,length);
        //alert("phNo "+phNo);

      }
      length = phNo.length;

    //alert("length11 "+length)
      if(length == 3){
     // alert("length == 3"+phNo.concat("-"));
      if(phPart1!=null){
      phNo1 = phNo.concat("-");
      //alert("phNo1 :: "+phNo1);
     // alert("before phPart1 :: "+phPart1);
      phPart1 = phPart1.concat(phNo1);
      previousLength = phPart1.length;
      //alert("after phPart1 :: "+phPart1)
         $('#phNo').val(phPart1);
      }else{
      phNo = document.getElementById("phNo").value;
      // alert("before phPart1 :: "+phPart1);
      phPart1 = phNo.concat("-");
      previousLength = phPart1.length;
      //alert("previousLength ")
      //alert("phPart1 :: "+phPart1)
         $('#phNo').val(phPart1);
      }


   // document.getElementById("phNo").innerHTML = phNo.concat("-");
       // alert("final :: "+document.getElementById("phNo").value);
      }
      }else{
      previousLength = phNo.length;
      }
 //aler("previousLength :: "+previousLength);
      }
      }


   });
  </script>




<script>

//=========new add


   $( "#mobileNo" ).keyup(function(){
   //alert("on keyup")

   var phNo1;
   //var lastChar;
   var phNo = document.getElementById("mobileNo").value;
   //alert("phNo "+phNo)
   //previousLength = phNo.length;
   //alert("phNo "+phNo)
   currentLength = phNo.length;
   //alert("currentLength :: "+currentLength);
   //alert("previousLength :: "+previousLength);
var length;

if(currentLength == 4 || currentLength == 8){
//alert("if(currentLength == 4 || currentLength == 8)");
var lastChar = phNo.charAt(currentLength-1);
//alert("lastChar "+lastChar);
if(lastChar!= '-'){
phNo = phNo.substring(0,currentLength-1);
phNo =phNo.concat("-");
phNo = phNo.concat(lastChar);

}
//phPart1 = phNo;
previousLength = phNo.length;
 $('#mobileNo').val(phNo);

}




else{

   if(currentLength<previousLength){
//alert("currentLength<previousLength");
   previousLength = currentLength;
   if(currentLength> 0){
   //alert("currentLength ::"+currentLength);
//alert("phNo "+phNo);
var lastChar = phNo.charAt(currentLength-1);

//alert("lastChar"+lastChar);
if(lastChar == '-'){
phNo = phNo.substring(0,currentLength-1);
}
else{
phNo = phNo.substring(0,currentLength);
}
   //alert("if return");
//phNo = phNo.substring(0,currentLength);
     $('#mobileNo').val(phNo);

   }

   phPart1 = null;
   }


else{
   //alert("else");

      if( phNo.length <8){
      previousLength = phNo.length;
      if(phNo.contains("-")){
     // alert("phNo.contains("-")")
      length = phNo.length;
     // alert("length1 "+length)
        phNo = phNo.substring(phNo.indexOf("-")+1,length);
        //alert("phNo "+phNo);

      }
      length = phNo.length;

    //alert("length11 "+length)
      if(length == 3){
     // alert("length == 3"+phNo.concat("-"));
      if(phPart1!=null){
      phNo1 = phNo.concat("-");
      //alert("phNo1 :: "+phNo1);
     // alert("before phPart1 :: "+phPart1);
      phPart1 = phPart1.concat(phNo1);
      previousLength = phPart1.length;
      //alert("after phPart1 :: "+phPart1)
         $('#mobileNo').val(phPart1);
      }else{
      phNo = document.getElementById("mobileNo").value;
      // alert("before phPart1 :: "+phPart1);
      phPart1 = phNo.concat("-");
      previousLength = phPart1.length;
      //alert("previousLength ")
      //alert("phPart1 :: "+phPart1)
         $('#mobileNo').val(phPart1);
      }


   // document.getElementById("phNo").innerHTML = phNo.concat("-");
       // alert("final :: "+document.getElementById("phNo").value);
      }
      }else{
      previousLength = phNo.length;
      }
 //aler("previousLength :: "+previousLength);
      }
      }


   });




  </script>


    <script>
        //============================phno partition validation ====================================24.08.2015==========start========================================//
$(document).ready(function(){
/*$("#phNo").hide();*/
var phNoValue = $("#phNo").val();
var phNoValuePart1;
var phNoValuePart2;
var phNoValuePart3;

if(phNoValue!= null){
phNoValuePart1  = phNoValue.substring(0,3);
$("#areaCode").val(phNoValuePart1);
phNoValuePart2 = phNoValue.substring(3,6);
$("#phonePre").val(phNoValuePart2);
phNoValuePart3 = phNoValue.substring(6,10);
$("#phoneSuf").val(phNoValuePart3);
}


var orgphNoValue = $("#mobileNo").val();
/*var phNoValuePart1;
var phNoValuePart2;
var phNoValuePart3;*/

if(orgphNoValue!= null){
phNoValuePart1  = orgphNoValue.substring(0,3);
$("#areaCode1").val(phNoValuePart1);
phNoValuePart2 = orgphNoValue.substring(3,6);
$("#phonePre1").val(phNoValuePart2);
phNoValuePart3 = orgphNoValue.substring(6,10);
$("#phoneSuf1").val(phNoValuePart3);
}
});

function autoFormAdvance(afterNumChars,currentFormId,nextFormId) {
/*if(currentFormId.equals("phoneSuf")){
$("#phoneSuf").onkeyup();
}*/
patternMatchForPhone(currentFormId);

	if(document.getElementById(currentFormId).value.length==afterNumChars) {
		document.getElementById(nextFormId).focus();
	}
//============= 26.08.2015==============start========added========================//
mergeTotalPhNo();
mergeTotalPhNo1();
//============= 26.08.2015==============end========added========================//
}
//============= 26.08.2015==============start========same method replaced with this method========================//
function mergeTotalPhNo(){
//alert("within keyup");
patternMatchForPhone('phoneSuf');
var totalPhValue;
var length1 = $("#areaCode").val().length;
var length2 = $("#phonePre").val().length;
var length3 = $("#phoneSuf").val().length;

if(length1==3 && length2 ==3 &&length3 == 4){
totalPhValue = $("#areaCode").val()+$("#phonePre").val()+$("#phoneSuf").val();
$("#phNo").val(totalPhValue);
//alert($("#phNo").val());
}

//alert("totalPhValue :: "+totalPhValue);


}
//============= 26.08.2015==============end========same method replaced with this method========================//

        //============================phno partition validation ====================================24.08.2015==========end========================================//
    </script>

    <script>
        //============================phno partition validation ====================================24.08.2015==========start========================================//


/*
function autoFormAdvance(afterNumChars,currentFormId,nextFormId) {
/!*if(currentFormId.equals("phoneSuf")){
$("#phoneSuf").onkeyup();
}*!/


	if(document.getElementById(currentFormId).value.length==afterNumChars) {
		document.getElementById(nextFormId).focus();
	}


}
*/
//============= 26.08.2015==============start========same method replaced with this method========================//
function mergeTotalPhNo1(){
//alert("within keyup");
patternMatchForPhone('phoneSuf1');
var totalPhValue;
var length1 = $("#areaCode1").val().length;
var length2 = $("#phonePre1").val().length;
var length3 = $("#phoneSuf1").val().length;

if(length1==3 && length2 ==3 &&length3 == 4){
totalPhValue = $("#areaCode1").val()+$("#phonePre1").val()+$("#phoneSuf1").val();
$("#mobileNo").val(totalPhValue);
//alert($("#phNo").val());
}

//alert("totalPhValue :: "+totalPhValue);


}
//============= 26.08.2015==============end========same method replaced with this method========================//

        //============================phno partition validation ====================================24.08.2015==========end========================================//
    </script>



    <script>
    function patternMatchForPhone(id){

    var phPattern = /^([0-9])+$/;
    var phValue =document.getElementById(id).value;
    //alert(phValue );
    //alert(phValue.match(phPattern));
    if(phValue.match(phPattern)==null){
    //alert("before "+phValue);
     phValue = phValue.substring(0,phValue.length-1);
    // alert("after "+phValue);
     }
     id = "#"+id;
     // alert("id :: "+id);
     $(id).val(phValue);

     //alert(" $(id).val"+ $(id).val);
    //alert(ph)

     //document.getElementById(id).HTML(phValue);

    }
</script>







