@(verificationUrl: String, volunteer: Volunteer)

  <div>
      <p>Hi @volunteer.firstName @volunteer.lastName,</p>
    <br />
    <br />
    <p>
        Thank you for signing up for the following volunteer position.
        <br />


                @volunteer.shift.name

            <br />

                @volunteer.shift.date.format("E, MMMMM d, yyyy")

            <br />

                @volunteer.shift.startTime.format("h:mm a") - @volunteer.shift.endTime.format("h:mm a")




    </p>
    <br />


<p>
    <br />
    Sincerely,
    <br />
    <br />
    <i>The Scholastic Challenge Team</i>
</p>
  </div>