<!-- Modal -->
<div class="modal fade" id="samplesModal" tabindex="-1" role="dialog" aria-labelledby="samplesLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Team Samples
      </div>
      <div class="modal-body">
        <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading" id="modalAccordion1">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#sampleOne">
          View - Team Sample #1
        </a>
        <button type="button" class="btn-sm btn-green pull-right" data-dismiss="modal" id="sample1">Select</button>
        <div class="clearfix"></div>
      </h4>
    </div>
    <div id="sampleOne" class="panel-collapse collapse in">
      <div class="panel-body">
      @*  Thank you for visiting Team "Name" fundraising page. Our goal is to have 100% student participation. If you are a student in our class, please take a moment, with your parents, to register for this year's Event and to create your own Personal Fundraising Page. Once you have completed the registration, you can get started with fundraising. You can visit your Personal Fundraising Page as you go to check on your own progress and to see messages from your supporters.

We have awesome raffle prizes for participants and top-fundraisers!

If you are a visitor to this fundraising page, please consider making a donation to a member of our team and helping them earn prizes or if you prefer you can make a donation to our team, either way the money we raise will go directly to helping our students. 

This is our school's biggest fundraiser of the year. The funds we raise will be used to provide the best education possible for the students at (name of school) School. This year's fundraising profits will be used for (list what you the funds will be used for. The more specific you are the greater the likelihood of a visitor making a donation.)
We are looking forward to a great event on (date)!

Thank you for your support!*@
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" id="modalAccordion2">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#sampleTwo">
          View - Team Sample #2
        </a>
        <button type="button" class="btn-sm btn-green pull-right" data-dismiss="modal" id="sample2">Select</button>
        <div class="clearfix"></div>
      </h4>
    </div>
    <div id="sampleTwo" class="panel-collapse collapse">
      <div class="panel-body">
       @* If you are a student in our class, please register for this year's Lap-A-Thon by creating your own Personal Fundraising Page. It's easy and fun! Once you have created your personal fundraising page (PFP) you a can get started with your fundraising by sending out a link to your PFP and or posting it on social media pages. Then check your PFP to see who has made a donation and the messages they have left you.

If you are a visitor to our page, please consider making a donation to our class or to an individual participant. This is our school's only fundraiser of the year so your help is greatly needed! The money we raise will be used to provide the best education possible for the children at (Name of School). This year, fundraising profits will be used for classroom (list how the funds will be used. The more specific you are the more likely a person is to make a donation to your cause!

We are looking forward to a event on (date)!*@
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" id="modalAccordion3">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#sampleThree">
          View - Team Sample #3
        </a>
         <button type="button" class="btn-sm btn-green pull-right" data-dismiss="modal" id="sample3">Select</button>
        <div class="clearfix"></div>
      </h4>
    </div>
    <div id="sampleThree" class="panel-collapse collapse">
      <div class="panel-body">
        @*Thank you for visiting Team (team name) fundraising page! If you are a visitor to this page please consider making a donation to our team. Our team is excited to put the money we raise towards (list what the money you raise will be used for. By being specific you increase your chances of receiving a donation exponentially.)

We're hoping to make this our biggest fundraiser of the year.  Any donation, large or small, will help us reach our goal of giving all of us greater access to the education we deserve. We're (running, spelling, swimming, reading, etc.) for our futures. Please support us and make a donation today. 

Thank you!*@
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading" id="modalAccordion4">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#sampleFour">
          View - Team Sample #4
        </a>
         <button type="button" class="btn-sm btn-green pull-right" data-dismiss="modal" id="sample4">Select</button>
        <div class="clearfix"></div>
      </h4>
    </div>
    <div id="sampleFour" class="panel-collapse collapse">
      <div class="panel-body">
     @*   Help us make the (Event Name) our most profitable fundraiser yet here at (Name of School)!
The (School Name) community has come together to raise much needed funds for our school. Each (Team Name) will be competing in a friendly competition to see who can raise the most money, and prizes will be award to the winners. 

If you are a student please click "Participate" and help us raise the funds we so desperately need. Help us make our (Team Name) the one that successfully had every student participating. There are many prizes for the register participants as well so Everybody Wins!

As a school we stand together to make this the best learning environment one can ask for. 

Students, parents and community are invited to participate!

Thank you!*@
      </div>
    </div>
  </div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeSample">Close</button>
      </div>
    </div>
  </div>
</div>