<div class="row featurette" id="aboutus">
	<div class="col-md-6">
<h2 class="featurette-heading">Scholastic Challenge</span></h2>
        <h2 style="color:#C5D800">Fueling Our Children's Education</span></h2>
        <p class="lead">
            At Scholastic Challenge we provide schools with complete fundraising solutions that bring communities together through fun, and professionally organized events.
          	<br/><br/>
          We've combined our expertise in fundraising, event management and physical fitness to create highly efficient and profitable events that allow schools to meet their annual fundraising goals in just one event.
          <br/><br/>
          We bring the know-how to make it happen.
          <br/><br/>
          You bring the participants.
          <br/><br/>
          It's that easy.
          </p>
	</div>
	<div class="col-md-4 pull-right hidden-xs hidden-sm" style="padding-top: 50px;"><i class="fa fa-info-circle iconBorderWhite"></i></div>
</div>	