<div class="row featurette" id="ourmission">
	<div class="col-md-4 hidden-xs hidden-sm"><i class="fa fa-heart iconBorderGreen" style="padding-top: 40px;"></i></div>
	<div class="col-md-2 hidden-xs hidden-sm"></div>
	<div class="col-md-6">
		<h2 class="featurette-heading">Our Mission</span></h2>
        <h2 style="color:#e5452f">Community Fundraising</span></h2>
        <p class="lead">
            Scholastic Challenge's mission is to provide schools with fun, highly efficient community fundraising events that promote physical fitness. We enable educators and parents to focus on their children's education by providing fundraising solutions that allow schools to consolidate their efforts and raise more money by creating a new donor base while maximizing their current donor base for scholastic purposes.
          </p>
	</div>
</div>	