<div class="row featurette" id="ourservices">
	<div class="col-md-4 hidden-xs hidden-sm" style="padding-top: 50px;"><i class="fa fa-wrench iconBorderGreen"></i></div>
	<div class="col-md-2 hidden-xs hidden-sm"></div>
	<div class="col-md-6">
<h2 class="featurette-heading">Our Services</span></h2>
        <h2 style="color:#e5452f">Experience and Simplicity</span></h2>
        <p class="lead">
            Scholastic Challenge provides a complete solution that allows districts and schools to meet their fundraising goal in a single event. We provide you with the tools and resources needed to attain strong event participation to increase your fundraising potential. Participants use our exclusive Scholastic Fundraising Software to raise funds online from friends, family and through social networking sites.
            <br/><br/>
            Our experienced team of sales, event management and physical fitness experts can handle every detail, from obtaining corporate sponsors to facilitating all event logistics and day-of coordination.
            <br/><br/>
            It's our mission to ensure you have a successful event and raise the money needed to provide your children with the best learning environment possible.
          </p>
	</div>
</div>	