<div class="modal fade" id="policyRefundsModal" tabindex="-1" role="dialog" aria-labelledby="policyRefundsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="policyRefundsModalLabel">Refunds</h4>
      </div>
      <div class="modal-body">
		  <p>Donations made through Scholastic Challenge are non-refundable, except as specified below. In all cases, including those listed below, no refunds can be issued after 30 days beyond the date of the event.</p>
          <ul>
          <li>
          The donation was made in error and you notify Scholastic Challenge of the error within 24 hours of the time of the donation.</li>
          <li>An error was made during the processing of your donation that caused your credit card to be charged incorrectly. This would include your card inadvertently being charged twice.</li>
          <p>To request a refund, please contact us at <a href="mailto:support@@scholasticchallenge.com">support@@scholasticchallenge.com</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>