<div class="modal fade" id="policyTermsOfServiceModal" tabindex="-1" role="dialog" aria-labelledby="policyTermsOfServiceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="policyTermsOfServiceModalLabel">Terms of Service</h4>
      </div>
      <div class="modal-body">
          <h4>Release and Waiver of Liability, Assumption of Risk,
          Indemnity Agreement, and Photo Release</h4>
          <p>In consideration of being permitted to participate in any way in
          an event organized and/or managed by Scholastic Challenge, I, 
          for myself, my personal representatives, assigns, heirs, and 
          next of kin:</p>
          <p>Acknowledge, agree, and represent that I understand the nature 
          of athletic activities and that I am qualified, in good health, and in 
          proper physical condition to participate in such activity. I further 
          acknowledge that the activity may be conducted over public roads 
          and facilities open to the public and upon which the hazards of travelling are to be expected. I understand that it is not possible to foresee all possible hazards that may present themselves on the planned event routes. I further agree and warrant that if at any time I believe conditions to be unsafe, I will immediately discontinue further participation in the activity.</p>
          <p>Fully understand that: (a) athletic activities involve risks and dangers of serious bodily injury, including permanent disability, paralysis, and death; (b) these risks and dangers may be caused by my own actions or inactions or the actions or inactions of others, or the condition in which the activity takes place; (c) there may be other risks and social and economic losses either not known to me or not readily foreseeable at this time; and I fully accept and assume all such risks and all responsibility for losses, costs, and damages I incur as a result of my participation or that of the minor in the activity.</p>
          <p>Hereby release, discharge, and covenant not to sue Scholastic Challenge, their respective administrators, directors, agents, officers, members, volunteers, and employees, other participants, sponsors, advertisers, schools or school districts, and, if applicable, owners and lessors of premises on which the event takes place, from all liability, claims, demands, losses, or damages on my account caused or alleged to be caused in whole or in part by the negligence of the organizers or otherwise, including negligent rescue operations; and I further agree that if, despite this release and waiver of liability, assumption of risk, and indemnity agreement I, or anyone on my behalf, makes a claim against any of the releasees, I will indemnify, save, and hold harmless each of the releasees from any litigation expenses, attorney fees, loss, liability, damage, or cost which any may incur as the result of such claim.
          <p>Acknowledge that photographers will be present at the event and give permission for Scholastic Challenge to reproduce photographs of event participants and activities for purposes of event publicity or reproduction on the organization web sites. No names will be published without specific permission.</p>
          <p>I have read this agreement, fully understand its terms, understand that I have given up substantial rights by signing it and have signed it freely and without any inducement or assurance of any nature and intend it to be a complete and unconditional release of all liability to the greatest extent allowed by law and agree that if any p</p>ortion of this agreement is held to be invalid the balance, notwithstanding, shall continue in full force and effect.
          <p>I do hereby agree to wear appropriate safety equipment and abide by all applicable laws during my participation in any Scholastic Challenge organized event. I hereby authorize qualified physicians or emergency personnel to render medical treatment or care that they may deem necessary for myself or my child(ren) in the case of illness or injury during such program in the event I cannot be reached or become incapacitated.</p>
          <p>I further understand that I must be at least eighteen years of age to sign this waiver. If the participant is under the age of 18, a parent or guardian’s signature is required. All event participants 12 or younger must be accompanied by a responsible adult.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>