@(eventForm: Form[Event])

@import html5.tags.html._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Create Event") {
  <!--popUpDiv-->


  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg" >

        <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Image</h4>
        </div>
        <div class="modal-body" style="max-height: 544px;">
          <div class="row">



            <div id="getImageForEditDiv" class="col-md-5">
              <img src="" id="cropbox1" height=400" width="400"/>
              <div class="preview-pane" style="margin:5px;display:none;">
                <label>X1 <input type="text" name="x" id="x" size="4"/></label>
                <label>Y1 <input type="text" name="y" id="y" size="4"/></label>
                <label>X2 <input type="text" name="x2" id="x2" size="4"/></label>
                <label>Y2 <input type="text" name="y2" id="y2" size="4"/></label>
                <label>W <input type="text" name="w" id="w" size="4"/></label>
                <label>H <input type="text" name="h" id="h" size="4"/></label>
              </div>
            </div>

            <div style="margin:10px;display:none;" id="ImgeEditButton" class="col-md-1">
            </div>

            <div  id="CanvasDiv" class="col-md-5">


              <div >

                <br clear="all">
                <div id="croppedImageText" style="display:none; position:relative; position: absolute; left: 0%; top: 40%; font-size: 40px;
                width: 100%; text-align: center; color: #d6d6d6; opacity: 0.5; ">Cropped Image Preview</div>
                <canvas id="myCanvas" height="370" width="370" style="margin-left:-5px;"></canvas>
                <canvas id="hideCanvas" style="display:none;"></canvas>

              </div>
              <img src="" id="ActCropImage" style="display:none;" height=400" width="400"/>
              <img src="" id="getRotatedImage" style="display:none;" height=400" width="400"/>

            </div><!--end of CanvasDiv -->

          </div>

        </div>

      </div>

    </div>
  </div>







  <!--popUpDiv-->
  <!-- Main body
================== -->

  <!-------image edit----------start---------23.09.2015---------->


  <script src="@ControllerUtil.getResourceRoute("jquery.Jcrop.js")"></script>
  <script src="@ControllerUtil.getResourceRoute("ImageCropJS.js")"></script>


  <link rel="stylesheet" href="@ControllerUtil.getResourceRoute("jquery.Jcrop.css")"/>
  <link rel="stylesheet" href="@ControllerUtil.getResourceRoute("ImageCropCss.css")"/>

  <!-------image edit----------start---------23.09.2015---------->


  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Create Event</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <!-- Contact us form -->
        <div class="col-sm-8">
          <h4>This form will help you create an event.</h4>
@eventWorkflowMenu(null, "event")
				<br/>
          <hr>
		  @general.alerts()
            @if(eventForm.hasErrors) {
          <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
            @Messages("form.has.errors")
          </div>
          }
		  @if(eventForm.hasGlobalErrors) {
			<div class="info-board info-board-red"> 
				<span class="label label-important">@eventForm.globalError.message</span>
			</div>
		  }
          	@form(routes.EventMgmt.save(), 'role -> "form", 'id -> "eventForm", 'enctype -> "multipart/form-data") {
          		@if(ControllerUtil.getLocalUser(session()).isRootAdmin()) {
          			@text(eventForm("userAdmin.email"), '_label -> "Event Admin", 'class -> "form-control")	
          		}
	 			@text(eventForm("name"), '_label -> "Event Name", 'class -> "form-control", 'placeholder -> "Name (i.e., Spring Spell-a-thon, Harvest Run)", '_info -> "helpEventName")
	            @text(eventForm("schoolId"), '_label -> "School", 'class -> "form-control", 'placeholder -> "School Name")
	            @text(eventForm("eventStart"), '_label -> "Event Start Date", 'class -> "form-control", '_info -> "helpEventStart")
	            @text(eventForm("eventEnd"), '_label -> "Event End Date", 'id -> "eventEnd",'class -> "form-control", '_info -> "helpEventEnd")
	            @text(eventForm("fundraisingStart"), '_label -> "Fundraising Start Date", 'class -> "form-control", '_info -> "helpEventFundStart")
	            @text(eventForm("fundraisingEnd"), '_label -> "Fundraising End Date", 'class -> "form-control", '_info -> "helpEventFundEnd")
	            @text(eventForm("goal"), '_label -> "Fundraising Goal", 'class -> "form-control", '_addon -> "$", 'placeholder -> "50000", '_info -> "helpGoal")
	            @select(eventForm("state"), options(ControllerUtil.STATE_MAP), '_label -> "State", '_showConstraints -> false,'class -> "form-control")
	            @text(eventForm("city"), '_label -> "City", 'class -> "form-control")
	            @text(eventForm("zipCode"), '_label -> "Zip Code",'_showConstraints -> false, 'class -> "form-control", 'placeholder -> "Zip Code (55555 or 55555-4444)", '_info -> "helpHeroImgUrl")
	            @helper.inputFile(eventForm("heroImgUrl"), '_label -> "Add a picture to the top of you event page (Optional)", 'class -> "form-control", '_info -> "helpHeroImgUrl")

              <div style="display:none">

                @textarea(eventForm("imgUrlText01"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText02"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText03"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText04"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText05"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")

                @textarea(eventForm("imgUrlText0"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")

                @textarea(eventForm("imgUrlText11"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText12"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText13"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText14"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText15"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")

                @text(eventForm("imgUrlText1"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")

                @textarea(eventForm("imgUrlText21"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText22"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText23"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText24"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText25"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")

                @text(eventForm("imgUrlText2"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")

                @textarea(eventForm("imgUrlText31"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText32"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText33"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText34"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText35"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")

                @text(eventForm("imgUrlText3"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")

                @textarea(eventForm("imgUrlText41"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText42"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText43"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText44"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")
                @textarea(eventForm("imgUrlText45"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")

                @text(eventForm("imgUrlText4"), '_label -> "Add a smaller image next to your event message (Optional)", 'class -> "form-control", '_info -> "helpImgUrl")



              </div>
              </br>

              <div class="col-md-7" style="left: -2%;" ><strong>Add  smaller images next to your event message (Optional)</strong></div>
              <div class="file_upload">
                <span class="icon-upload-arrow"></span>
                <input type="file" id="files" name="files" multiple accept="image/*">
              </div>
              <div class="row">


                <div class="jcrop_example clearfix col-lg-12 col-sm-12 col-md-12">



                  <div id="accordion" class="accordion">

                    <div class="sample_1 clearfix">






                      <div class="row">
                        <div id="selectedFiles" class="col-lg-12"></div>


                      </div>

                      <div style="margin-bottom:10px;">
                        <div style="overflow: hidden; width: 200px; height: 200px;display:none;">
                          <h4>Preview pane:</h4>
                          <img id="preview" src=""/>
                        </div>
                      </div>



                    </div>

                  </div>

                </div>
              </div>





                <!-------image edit----------end---------23.09.2015-->
              @helper.textarea(eventForm("content"), '_label -> "Welcome Message", 'class -> "form-control", '_wysiwyg -> true, '_info -> "helpContent")

                <!-- TODO create a dropdown selection for how many teams to add -->
	            <!-- TODO create a selection of preconfigured pages to be generated -->
               <button type="submit" class="btn btn-green" id="createEvent">Create this event</button>&nbsp;&nbsp;
               <a href="@routes.Application.profile()" class="btn btn-default" type="button">Cancel</a>
            }
        </div>
        <!-- Right column -->
   <div class="col-sm-4">
          <h4>Event Help</h4>
          <hr>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#helpEventName">
                      Event Name
                    </a>
                  </h4>
                </div>
                <div id="helpEventName" class="panel-collapse collapse in">
                  <div class="panel-body">
                    Event Name is the name you want to appear on your Event.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#helpEventStart">
                      Event Start
                    </a>
                  </h4>
                </div>
                <div id="helpEventStart" class="panel-collapse collapse">
                  <div class="panel-body">
                    Event Start is the date your event will occur.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#helpEventEnd">
                      Event End
                    </a>
                  </h4>
                </div>
                <div id="helpEventEnd" class="panel-collapse collapse">
                  <div class="panel-body">
                    If your event goes multiple days, you can add an Event End date.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#helpEventFundStart">
                      Fundraising Start Date
                    </a>
                  </h4>
                </div>
                <div id="helpEventFundStart" class="panel-collapse collapse">
                  <div class="panel-body">
                    This is the date at which your event can start taking donations.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#helpEventFundStart">
                      Fundraising End Date
                    </a>
                  </h4>
                </div>
                <div id="helpEventFundStart" class="panel-collapse collapse">
                  <div class="panel-body">
                    This is the date at which your event close taking donations.
                  </div>
                </div>
              </div>
			  <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#helpGoal">
                      Fundraising Goal
                    </a>
                  </h4>
                </div>
                <div id="helpGoal" class="panel-collapse collapse">
                  <div class="panel-body">
                    Fundraising Goal Choose a goal that is challenging yet attainable.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#helpHeroImgUrl">
                      Hero Image
                    </a>
                  </h4>
                </div>
                <div id="helpHeroImgUrl" class="panel-collapse collapse">
                  <div class="panel-body">
                    Event Hero Image This image will at the top of the your Event (a default image will be used if you do not upload your own).
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#helpImgUrl">
                      Page Image
                    </a>
                  </h4>
                </div>
                <div id="helpImgUrl" class="panel-collapse collapse">
                  <div class="panel-body">
                    Page Image This image will appear next to your personal message on your Event.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#helpContent">
                      Page Content
                    </a>
                  </h4>
                </div>
                <div id="helpContent" class="panel-collapse collapse">
                  <div class="panel-body">
                    This is the message to all your event attendees.  Please feel free to view the sample on the right copying and pasting all or parts of the message for your use. Remeber, if you do use these messages you will need to personalize them. i.e. your events name, your schools name.
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  @**
  <!-- Extra Hidden Content -->
  <script>
  $("input[name='zipCode']").inputmask("99999[-9999]");
  $("input[name='eventStart']").inputmask("99/99/9999");
  $("input[name='eventEnd']").inputmask("99/99/9999");
  $("input[name='fundraisingStart']").inputmask("99/99/9999");
  $("input[name='fundraisingEnd']").inputmask("99/99/9999");
  $("input[name='goal']").inputmask("9{1,8}");
  </script>
  **@
  @events.samples()
<script src="@ControllerUtil.getResourceRoute("scEventAdmin.min.js")"></script>
  <script>
  $("#createEvent").click(function(){
  finalUpload();
               // $('form#eventForm').submit();
           });
/*
$("#xdsoft_datetimepicker").onmousewheel = function() {
    stopWheel();
} /* IE7, IE8 */
/*if ($("#xdsoft_datetimepicker ").addEventListener) { /* Chrome, Safari, Firefox */
  /*  $("#xdsoft_datetimepicker ").addEventListener('DOMMouseScroll', stopWheel, false);
}

function stopWheel(e) {
    if (!e) {
        e = window.event;
    } /* IE7, IE8, Chrome, Safari */
  /*  if (e.preventDefault) {
        e.preventDefault();
    } /* Chrome, Safari, Firefox */
  /*  e.returnValue = false; /* IE7, IE8 */
/*}*/
  </script>
}

