<!-- Modal -->
<div class="modal fade" id="samplesModal" tabindex="-1" role="dialog" aria-labelledby="samplesLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Event Samples
      </div>
      <div class="modal-body">
        <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading" id="modalAccordion1">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#sampleOne">
          View - Event Sample #1
        </a>
        <button type="button" class="btn-sm btn-green pull-right" data-dismiss="modal" id="sample1">Select</button>
        <div class="clearfix"></div>
      </h4>
    </div>
    <div id="sampleOne" class="panel-collapse collapse in">
      <div class="panel-body">
       @* 1 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.*@
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" id="modalAccordion2">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#sampleTwo">
          View - Event Sample #2
        </a>
        <button type="button" class="btn-sm btn-green pull-right" data-dismiss="modal" id="sample2">Select</button>
        <div class="clearfix"></div>
      </h4>
    </div>
    <div id="sampleTwo" class="panel-collapse collapse">
      <div class="panel-body">
        @*2 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.*@
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" id="modalAccordion3">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#sampleThree">
          View - Event Sample #3
        </a>
         <button type="button" class="btn-sm btn-green pull-right" data-dismiss="modal" id="sample3">Select</button>
        <div class="clearfix"></div>
      </h4>
    </div>
    <div id="sampleThree" class="panel-collapse collapse">
      <div class="panel-body">
       @* 3 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.*@
      </div>
    </div>
  </div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeSample">Close</button>
      </div>
    </div>
  </div>
</div>