@(event: Event, isEventOpen: Boolean, canParticipate: Boolean, canManage: Boolean, pfpDonations: Map[Long, Donation.DonationsByPfp], teamDonations: Map[Long, Donation.DonationsByTeam],currentPage: com.avaje.ebean.Page[Pfp]=null, currentSortBy: String=null, currentOrder: String=null, currentFilter: String=null,donation: List[Donation]=null,imgUrllink: Integer)
@import  views.html.events.modalVolunteer;


@import models.security._



    @****************************************
    * Helper generating navigation links    *
    ****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.EventMgmt.profileSearchPfpsEvents(event,newPage, sortBy, order, currentFilter)

}



    @**********************************
    * Helper generating table headers *
    ***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)&n=@ctx()._requestHeader().getQueryString("n")">@title</a>
    </th>
}




@import helper._












@main("View Event") {
<!-- Main body
================== -->



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <!-- FB Share -->
    <meta property="og:title" content="scholasticchallenge Event" />
    <meta property="og:site_name" content="scholasticchallenge">
    <meta property="og:description" content="scholasticchallenge Event" />
    <meta property="og:image" content="@event.heroImgUrl" />
    <meta property="og:type" content="website">
    <input type="hidden" id = "viewEventImage" value="@event.heroImgUrl">


    @if(ControllerUtil.getLocalUser(session())!=null){
        @defining(ControllerUtil.getLocalUser(session())) { user =>
            <input type="hidden" id = "userName" value="@user.firstName @user.lastName">
        }
    }

    <input type="hidden" id = "eventName" value="@event.name Fundraising Page">
    <!--<input  type="hidden" id = "eventContent" value="@Html(event.content)"/>-->
    <textarea id = "eventContent" style="display:none;">@Html(event.content)</textarea>

    <!-- End of FB Share -->



    <title>Ideal Image Slider Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" href="@ControllerUtil.getResourceRoute("normalize.css")">
    <link rel="stylesheet" href="@ControllerUtil.getResourceRoute("ideal-image-slider.css")">
    <link rel="stylesheet" href="@ControllerUtil.getResourceRoute("default.css")">
    <style media="screen">

    #slider {

    box-sizing: border-box;
    margin: 50px auto;
    }

    #image_slider{
    height: 250px !important;
    }
    </style>
    <style>

.section-header {
	padding: 15px 0;
	margin-bottom: 0px;
}
#wrap,
#hp-slider {
	height: 480px;
	background: url(@event.heroImgUrl) no-repeat center center;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@event.heroImgUrl', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@event.heroImgUrl', sizingMethod='scale')";
	border-bottom: 1px solid #eee;
	color: #fff;
}
</style>
  <div class="wrapper">
      <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>View Event</span></h1>
          </div>
        </div>
      </div>
    </div>
    @general.alerts()
 <div id="wrap">
      <div class="container" style="margin-left: -15px;">
        <div class="row" style="margin-left: -15px;">
          <div class="col-md-6 col-sm-12">
            <div class="list"  style="margin-left:0px;">
              <ul>
              	<li><br/><br/></li>
				<li class="hidden-sm hidden-xs"><br/><br/><br/><br/></li>
            	@if(canParticipate) {
                		<li class="animated slideInLeft fourth visible-sm visible-xs"><span><a class="btn btn-lg btn-green" href="@routes.PfpMgmt.create(event)" role="button">Participate</a></span></li>
                		<li class="animated slideInLeft fifth visible-sm visible-xs"><span><a class="btn btn-lg btn-red" role="button" href="@routes.DonationMgmt.create(event)">Donate</a></span></li>
                		<li class="visible-sm visible-xs"><br/><br/></li>
                }
            	<div style="background:#E5452F">
            	<li>
            		<table style="border:15px solid #E5452F;">
            			<tr>
            				<td rowspan="2" style="border-right: 2px solid white;padding-right:15px"><h2>@event.name</h2></td>
            				<td style="padding-left:15px"><h4>@if(event.eventEnd == null) {@event.eventStart.format("MM/dd/yyyy")}else{@event.eventStart.format("MM/dd") - @event.eventEnd.format("MM/dd/yyyy")}</h4></td>
            			</tr>
            			<tr>
            				<td style="padding-left:15px"><h4>@event.schoolId</h4></td>
            			</tr>
            		</table>
            	</li>
                </div>
              </ul>
            </div>
          </div>
          <div class="col-md-6 visible-md visible-lg">
          	@if(canParticipate) {
            <div class="list">
            	<ul>
            		<li class="visible-md visible-lg"><br/><br/><br/><br/><br/></li>
                	<li class="animated slideInLeft fourth visible-md visible-lg"><span><a class="btn btn-lg btn-green pull-right" href="@routes.PfpMgmt.create(event)" role="button">Participate</a></span></li>
                	<li class="visible-md visible-lg"><br/><br/></li>
                	<li class="animated slideInLeft fifth visible-md visible-lg"><span><a class="btn btn-lg btn-red pull-right" role="button" href="@routes.DonationMgmt.create(event)">Donate</a></span></li>
                </ul>
                </div>
          	}
          </div>
        </div>
      </div>
    </div>
   	@eventSubMenuEvent(event, canManage)

          <!--##############################Start Code 260#####################################################-->
 @if(currentPage!= null){

      @if(currentPage.getTotalRowCount == 0) {
          <div class="container">
              <div class="row">

          <div class="well">
              <em>No results based on search criteria</em>
          </div>

              </div>
          </div>

      } else {
              <!---------------search criteria for normal user -------start------19.08.2015---------------------------------------------->
          @if(ControllerUtil.isUserInRole(models.security.SecurityRole.EVENT_ADMIN) ||
                  ControllerUtil.isUserInRole(models.security.SecurityRole.ROOT_ADMIN) ||
                  ControllerUtil.isUserInRole(models.security.SecurityRole.SYS_ADMIN)
          ){
              <!---------------search criteria for normal user ---------end------19.08.2015---------------------------------------------->

          <div class="container">
              <div class="row">
          <div class="table-responsive" id = "tableOnSearch">
              <table class="table table-striped table-hover ">
                  <thead>
                      <tr>
                          @header("name", "Pfp name")
                          @header("pfpType", "Type")
                          @header("team.name", "Team")
                          @header("goal", "Goal")
                          <th class="actions header">Actions</th>
                          @**
                          @header("total", "Donation Total")
                          <th class="percentage header ">Percentage</th>
                          **@
                      </tr>
                  </thead>
                  <tbody>
                  @for(pfp <- currentPage.getList) {
                      <tr>
                          @if(ControllerUtil.isUserInPermission(UserPermission.SYS_DONATION_EDIT) || models.Event.daysUntilEvent(pfp.event.fundraisingEnd) >= 0) {
                              @form(routes.PfpMgmt.updateInline(pfp.event, pfp), 'role -> "form", 'class -> "form-inline") {
                                 @* @if(ControllerUtil.isUserInRole(models.security.SecurityRole.EVENT_ADMIN) ||
                                          ControllerUtil.isUserInRole(models.security.SecurityRole.ROOT_ADMIN) ||
                                          ControllerUtil.isUserInRole(models.security.SecurityRole.SYS_ADMIN)
                                  ){*@


                                      <td><a href="@routes.PfpMgmt.get(pfp.event, pfp)">@pfp.name</a></td>
                                      <td>@if(pfp.pfpType == Pfp.PfpType.PFP){<select id="private" name="private" class="form-control">
                                          <option value="true" @if(pfp.privateAcct == true){ selected}>Private</option>
                                          <option value="false" @if(pfp.privateAcct == false){ selected}>Public</option>
                                      </select>}
                                      </td>
                                      <td>@if(pfp.team != null) {
                                          <select  id="team_id" name="team.id" class="form-control">
                                          @for((key, value) <- Team.options(pfp.event.id)){
                                              <option value="@key" @if(pfp.team.id == key.toLong){ selected}>@value</option>
                                          }
                                          </select>
                                      }
                                      </td>
                                      <td><input type="text" id="goal" name="goal" value="@pfp.goal" class="form-control"></td>
                                      <td><button class="btn btn-default" type="submit">Save</button>@if(!Donation.existsByPfpId(pfp.id)) {&nbsp;<a href="@routes.PfpMgmt.remove(pfp.event, pfp)" class="btn btn-default" type="button">Remove</a>}</td>





                                @*  }else{
                                      @if(pfp.privateAcct == false){
                                          <td><a href="@routes.PfpMgmt.get(pfp.event, pfp)">@pfp.name</a></td>
                                          <td>@if(pfp.pfpType == Pfp.PfpType.PFP){<select id="private" name="private" class="form-control">
                                              <option value="true" @if(pfp.privateAcct == true){ selected}>Private</option>
                                              <option value="false" @if(pfp.privateAcct == false){ selected}>Public</option>
                                          </select>}
                                          </td>
                                          <td>@if(pfp.team != null) {
                                              <select  id="team_id" name="team.id" class="form-control">
                                              @for((key, value) <- Team.options(pfp.event.id)){
                                                  <option value="@key" @if(pfp.team.id == key.toLong){ selected}>@value</option>
                                              }
                                              </select>
                                          }
                                          </td>
                                          <td><input type="text" id="goal" name="goal" value="@pfp.goal" class="form-control"></td>
                                          <td><button class="btn btn-default" type="submit">Save</button>@if(!Donation.existsByPfpId(pfp.id)) {&nbsp;<a href="@routes.PfpMgmt.remove(pfp.event, pfp)" class="btn btn-default" type="button">Remove</a>}</td>

                                      }

                                  }*@




                              }
                          } else {

                            @*  @if(ControllerUtil.isUserInRole(models.security.SecurityRole.EVENT_ADMIN) ||
                                      ControllerUtil.isUserInRole(models.security.SecurityRole.ROOT_ADMIN) ||
                                      ControllerUtil.isUserInRole(models.security.SecurityRole.SYS_ADMIN)
                              ){*@


                                  <td>@*<a href="@routes.PfpMgmt.get(pfp.event, pfp)">@pfp.name</a>*@
                                      @if(pfp.privateAcct == true){
                                          <a href="@routes.PfpMgmt.get(pfp.event, pfp)" style="color: black">@pfp.name</a>                            }
                                      @if(pfp.privateAcct == false){
                                          <a href="@routes.PfpMgmt.get(pfp.event, pfp)">@pfp.name</a>
                                      }


                                  </td>
                                  <td>@if(pfp.privateAcct == true){Private}else{Public}</td>
                                  @if(pfp.team == null) {
                                      <td></td>
                                  } else {
                                      <td>@pfp.team.name</td>
                                  }
                                  <td>@pfp.goal</td>
                                  <td></td>




                             @* }else{
                                  @if(pfp.privateAcct==false){

                                      <td><a href="@routes.PfpMgmt.get(pfp.event, pfp)">@pfp.name</a></td>
                                      <td>@if(pfp.privateAcct == true){Private}else{Public}</td>
                                      @if(pfp.team == null) {
                                          <td></td>
                                      } else {
                                          <td>@pfp.team.name</td>
                                      }
                                      <td>@pfp.goal</td>
                                      <td></td>
                                  }
                              }*@


                          }

                      }

                  </tbody>
              </table>
          </div>
          @if(currentPage.hasPrev || currentPage.hasNext){
              <div id="pagination">
                  <ul class="pager">
                      <li class="previous@if(!currentPage.hasPrev) { disabled}"><a href="@if(currentPage.hasPrev) {@link(currentPage.getPageIndex - 1, null)}">&larr; Previous</a></li>
                      <li class="next@if(!currentPage.hasNext) { disabled}"><a href="@if(currentPage.hasNext) {@link(currentPage.getPageIndex + 1, null)}">Next &rarr;</a></li>
                  </ul>
              </div>
          </div>
          </div>

          }

                  <!---------------search criteria for normal user -------start------19.08.2015---------------------------------------------->

      }else{






              <div class="container">
                  <div class="row">
                      <div class="table-responsive" id = "tableOnSearch">
                          <center>

                              <table class="table table-striped table-hover ">
                                  <thead>
                                      <tr>
                                      @header("name", "Pfp name")


                                      </tr>
                                  </thead>
                                  <tbody>
                                  @for(pfp <- currentPage.getList) {
                                      <tr>
                                          @if(ControllerUtil.isUserInPermission(UserPermission.SYS_DONATION_EDIT) || models.Event.daysUntilEvent(pfp.event.fundraisingEnd) >= 0) {
                                              @form(routes.PfpMgmt.updateInline(pfp.event, pfp), 'role -> "form", 'class -> "form-inline") {
                                                  @if(pfp.privateAcct==false){
                                                      <td><a href="@routes.PfpMgmt.get(pfp.event, pfp)">@pfp.name</a></td>

                                                  }






                                                  @*  <td><button class="btn btn-default" type="submit">Save</button>@if(!Donation.existsByPfpId(pfp.id)) {&nbsp;<a href="@routes.PfpMgmt.remove(pfp.event, pfp)" class="btn btn-default" type="button">Remove</a>}</td>*@



                                              }
                                          } else {


                                              @if(pfp.privateAcct==false){
                                                  <td><a href="@routes.PfpMgmt.get(pfp.event, pfp)">@pfp.name</a></td>
                                              }



                                              @*<td></td>*@






                                          }

                                      }

                                  </tbody>
                              </table>

                          </center>

                      </div>
                      @if(currentPage.hasPrev || currentPage.hasNext){
                          <div id="pagination">
                              <ul class="pager">
                                  <li class="previous@if(!currentPage.hasPrev) { disabled}"><a href="@if(currentPage.hasPrev) {@link(currentPage.getPageIndex - 1, null)}">&larr; Previous</a></li>
                                  <li class="next@if(!currentPage.hasNext) { disabled}"><a href="@if(currentPage.hasNext) {@link(currentPage.getPageIndex + 1, null)}">Next &rarr;</a></li>
                              </ul>
                          </div>
                      </div>
              </div>

          }








          }
              <!---------------search criteria for normal user ---------end------19.08.2015---------------------------------------------->

      }

      }else{
     <!---commented out--------------------------- because dont want to see the div without searching--25.08.2015-----start-->
     @*
     <div class="container">
         <div class="row">

             <div class="well">
                 <em>No results based on search criteria</em>
             </div>

         </div>
     </div>*@
     <!---commented out--------------------------- because dont want to see the div without searching--25.08.2015-----start-->
 }



          <!--#######################################End code 260#########################################--->
      <br>



    @modalVolunteer(event)
    <br/>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6">
					<h4>@event.title</h4>
					<!--@if(event.imgUrl != null) {-->
        			<!--<img src="@event.imgUrl"  alt="Event Photo" class="img-about img-responsive">-->
        			<!--}-->

            <div id="slider1" style="width:40%" class="col-md-offset-3">
                @if(event.imgUrl != null) {
                <img id = "one" src="@event.imgUrl">
                }
                @if(event.imgUrl1 != null) {
                <img id = "two" src="@event.imgUrl1" >
                }
                @if(event.imgUrl2 != null) {
                <img id = "three" src="@event.imgUrl2">
                }
                @if(event.imgUrl3 != null) {
                <img id = "four" src="@event.imgUrl3">
                }
                @if(event.imgUrl4 != null) {
                <img id = "five" src="@event.imgUrl4">
                }
            </div>
            <br />
        			@Html(event.content)
        			<br />
          <div class="clearfix"></div>

            </div>
          <div id ="fb_share">
             &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;


@*
              *@@*<div class="fb-share-button" data-href="http://scholasticchallenge.com" data-layout="button_count" id="url_sharefb"></div>*@@**@@**@@**@@**@@*
              <script>
                   function fbs_click()
                    {

                    u=window.location.href;
                    t="link";
                    window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}
                   </script>
              <a class="fb_link" onclick="return fbs_click()" href="#"><img id = "twitter_share" src="@ControllerUtil.getResourceRoute("fbshare.jpg")"></a>

                  &nbsp;&nbsp;

              <a class="twitter_link" href="http://twitter.com/intent/tweet?text=&url=http://scholasticchallenge.com" target="_blank" id="url_sharetweet"><img id = "twitter_share" src="@ControllerUtil.getResourceRoute("tweeter.png")"></a>
              <!--<a class="email_link" target="_blank" href="mailto:?subject=scholastic&body=http://scholasticchallenge.com">Email</a>-->

              *@

              @*
              <span class='st_facebook' displayText='Facebook'></span>
              <span class='st_twitter' displayText='Tweet'></span>
              <span class='st_email' displayText='Email'></span>
              <script type="text/javascript">var switchTo5x=true;</script>
              <script src="@ControllerUtil.getResourceRoute("addthisbuttons.js")"></script>
              <script type="text/javascript">stLight.options({publisher: "221dee79-5a1e-441a-8ff4-9f460a6df6f1", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>

*@


              <br />
              <br />



          </div>
        <!-- Login Box -->
        <div class="col-md-4 col-sm-6">
          <div class="panel panel-green" align="center">
                      <div class="panel-heading">
                        <h3 class="panel-title">@if(isEventOpen) { Fundraising Ends } else {Fundraising Has Ended }</h3>
                      </div>
                      <div class="panel-body">
                        <p>@if(isEventOpen) { <span id="daysUntil"></span> } else { The fundraising period has ended. If you would like to make a donation, please contact the event organizers. }</p>
                      </div>
                      <div class="panel-heading">
                      	@if(isEventOpen) { @event.fundraisingEnd.format("MMMMM d, yyyy") } else { Thank you for your support! }
                      </div>
           </div>

            <!--<span class='st_facebook' displayText='Facebook'></span>
            <span class='st_twitter' displayText='Tweet'></span>
            <span class='st_email' displayText='Email' st_summary=" "  st_url='Please click on the link below to view the fundraiser I am participating in. link to page i.e ' id="st_email"></span>
            <script type="text/javascript">var switchTo5x=true;</script>

            <script type="text/javascript">stLight.options({publisher: "221dee79-5a1e-441a-8ff4-9f460a6df6f1", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>-->
           @* <div class="fb-share-button" data-href="http://scholasticchallenge.com" data-layout="button_count" id="url_sharefb"></div>*@

                &nbsp;&nbsp;
            <a class="twitter_link"  href="#" onclick="initfbShareButton()"><img  src="@ControllerUtil.getResourceRoute("fbshare.jpg")"></a>

            <a class="twitter_link" href="http://twitter.com/intent/tweet?text=&url="+window.location target="_blank" id="url_sharetweet"><img id = "twitter_share" src="@ControllerUtil.getResourceRoute("tweet.png")"></a>
            <span id="button_Email_share"></span>
            <script src="@ControllerUtil.getResourceRoute("addthisbuttons.js")"></script>
            <script type="text/javascript">
                   stLight.options({

                          publisher:'dadf4b5f-0de7-4abf-abad-07251fb68c3e' ,
                   });
            </script>

            <script>
             var urlPath=window.location.href;
                var imageUrl=document.getElementById("viewEventImage").value;



                    function initfbShareButton()
                     {
                       var userName="Event Page";
                       if (document.getElementById("userName")) {
                            userName=document.getElementById('userName').value;
                       }
                       var eventName=document.getElementById('eventName').value;
                       var desc=document.getElementById('eventContent').value;

                       FB.ui(
                              {
                                method: 'feed',
                                name: eventName,
                                link: urlPath,
                                picture: imageUrl,
                                caption: userName,
                                description: desc,
                                message: eventName
                              },
                              function(response) {
                                if (response && response.post_id) {
                                 // alert('Post was published.');
                                } else {
                                 // alert('Post was not published.');
                                }
                              }
                           );
                       }






                stWidget.addEntry({
                        "service":"email",
                        "element":document.getElementById('button_Email_share'),
                        "summary":"link to page i.e: "+urlPath,
                         "url":"Please click on the link below to view the fundraiser I am participating in.",
                        "title":"Helping my School",
                        "type":"large",
                        "text":"Helping my School" ,
                        "image":imageUrl,
                        "onhover":false
                });

            </script>






              <br/><br/>



            @defining(Event.getGoalPercentage(event.id, event.goal)) { percent =>
                <div class="percent-thumbnail"><img src="@ControllerUtil.getResourceRoute("progress/Progress Tree " + percent(2) + ".png")" alt="Percent" class="img-responsive" alt="Percent" height="360px"><div class="caption percent-content"><h4>Event Total: $@percent(0)</h4><h5>Event Goal: $@event.goal (@percent(1)% of Goal)</h5></div></div>
            }
        </div>
      </div>
      <br/>
      <div class="row">
      <div class="col-md-6">
        <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">@event.name Participants</h3>
                        </div>
                        <div class="panel-body panel-body-overflow">
                        <table class="table table-hover">
					      <thead>
					        <tr>
					          <th>Participant</th>
					          <th>Amount</th>
					        </tr>
					      </thead>
					      <tbody>
                       @if(pfpDonations.size == 0) {
                        	<tr>
					          <td colspan="2">No Participants For This Event</td>
					        </tr>
                        }  else {
                        @for((key, value) <- pfpDonations){
							<tr>
					          <td>@if(value.isPrivate && !(ControllerUtil.isUserInRole(models.security.SecurityRole.ROOT_ADMIN) || ControllerUtil.isUserInRole(models.security.SecurityRole.SYS_ADMIN))) { Private Account } else { <a href="@routes.PfpMgmt.getById(event, key)">@value.name</a> }</td>
					          <td>@value.amount</td>

                          <!--------start:<>------create delete and edit link-----------05.08.2015----->
                                @if(ControllerUtil.isUserInRole(models.security.SecurityRole.EVENT_ADMIN) ||
                                        ControllerUtil.isUserInRole(models.security.SecurityRole.ROOT_ADMIN) ||
                                        ControllerUtil.isUserInRole(models.security.SecurityRole.SYS_ADMIN)
                                ){
                                <td><a id="addNewXS"  href="@routes.Application.profile">Parent</a></td>

                               <td><a id="editXS"  href="@routes.PfpMgmt.getById(event,key)">Edit</a></td>
                                <td><a id="deleteXS"  href="@routes.EventMgmt.deleteParticipants(event,value.id)">Delete</a></td>
                                }
                           <!----------end:<>------create delete and edit link-----------05.08.2015----->
					        </tr>
                        }
                        }


                        </tbody>
					    </table>
                        </div>
            <!--------start:<>--------->

                        <!--------start:<>------create add link-----------05.08.2015----->



                        <!----------end:<>------create add link-----------05.08.2015----->

                <!--------end:<>--------->
                    </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">@event.name Teams</h3>
                        </div>
                        <div class="panel-body panel-body-overflow">
                        <table class="table table-hover">
					      <thead>
					        <tr>
					          <th>Team</th>
					          <th>Amount</th>
					        </tr>
					      </thead>
					      <tbody>
                        @if(teamDonations.size == 0) {
                        	<tr>
					          <td colspan="2">No Teams For This Event</td>
					        </tr>
                        }  else {
                        @for((key, value) <- teamDonations){
							<tr>
					          <td><a href="@routes.TeamMgmt.get(event, key)">@value.name</a></td>
					          <td>@value.amount</td>
					        </tr>
                        }
                        }
                         </tbody>
					    </table>
                        </div>
                    </div>
      </div>
    </div>


        @if(donation.size>0){


            <div id = "image_slider" style="width: 100%; margin: 0px auto;">
                <div id="slider">

                @for(donationvalue <- donation) {
                    @if(donationvalue.imgUrl != null) {
                        @if(imgUrllink ==1) {
                            <img id = "one" src="@donationvalue.imgUrl" alt="Percent" class="img-responsive" alt="Percent" height="100px">
                            <img id = "one" src="@donationvalue.imgUrl" alt="Percent" class="img-responsive" alt="Percent" height="100px">
                        }
                        @if(imgUrllink !=1) {
                            <img id = "one" src="@donationvalue.imgUrl" alt="Percent" class="img-responsive" alt="Percent" height="100px">
                            }

                        @* <img id = "two"  src="@ControllerUtil.getResourceRoute("progress/Progress Tree 60.png")" alt="Percent" class="img-responsive" alt="Percent" height="100px">
                        <img id = "three" src="@ControllerUtil.getResourceRoute("progress/Progress Tree 120.png")" alt="Percent" class="img-responsive" alt="Percent" height="100px">*@

                    }
                }

                </div>

            </div>

        }
    </div>



















     @* <div id = "image_slider">
          <div id="slider">

              <img id = "one" src="@ControllerUtil.getResourceRoute("progress/Progress Tree 1.png")" alt="Percent" class="img-responsive" alt="Percent" height="100px">
              <img id = "two"  src="@ControllerUtil.getResourceRoute("progress/Progress Tree 60.png")" alt="Percent" class="img-responsive" alt="Percent" height="100px">
              <img id = "three" src="@ControllerUtil.getResourceRoute("progress/Progress Tree 120.png")" alt="Percent" class="img-responsive" alt="Percent" height="100px">

          </div>

      </div>*@



  </div>
  <script>



//==================start:<T-257>=====================javascript for the functionality of edit volunteers form to open it in a pop-up======================03.08.2015=============================//
function deleteForm(testurl){
//alert("deleteForm :: "+testurl);


			$('#volunteerModalBody').load(testurl, function() {
			$('#volunteerModal').modal('show');
			});
}
//==================end:<T-257>=====================javascript for the functionality of edit volunteers form to open it in a pop-up======================03.08.2015=============================//
//======================start:<T-258>=============javascript for the functionality to open the add volunteer form in pop-up============================04.08.2015===============================//
function editForm(url){
//alert("editForm :: "+url)
$('#volunteerModalBody').load(url, function() {
			$('#volunteerModal').modal('show');
			});
}

//======================end:<T-258>=============javascript for the functionality to open the add volunteer form in pop-up============================04.08.2015===============================//
function addParticipantsForm(url){
//alert("addParticipantsForm :: "+url)
$('#volunteerModalBody').load(url, function() {
			$('#volunteerModal').modal('show');
			});
}



	$('#daysUntil').countdown('@Event.getDateToMidnight(event.fundraisingEnd).format("yyyy/MM/dd HH:mm:ss")', function(event) {
		$(this).html(event.strftime('%D Days %H Hours %M Minutes %S Seconds'));
	});
  </script>


    <script>
      //  var slider ;

 $(document ).ready(function() {


 slider = new IdealImageSlider.Slider({
    selector: '#slider',
    height: 200, // Required but can be set by CSS
    interval: 2000,


});
slider.start();

 slider1 = new IdealImageSlider.Slider({
    selector: '#slider1',
    height: 200, // Required but can be set by CSS
    interval: 2000,


});
slider1.start();

var pathname = window.location.pathname;
var url      = window.location.href;
$("#url_sharetweet").attr("href", "http://twitter.com/intent/tweet?text=&url="+url);
  $("#url_sharefb").attr("data-href", url)





  /* var searchInput =  $("#search").val();
   alert("searchInput : "+searchInput);
   alert("searchInput.length : "+searchInput.length);
       if(searchInput.length==0){
       $("#tableOnSearch").hide();
       }*/
});



  </script>
    <div id="fb-root"></div>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1536480463334122',
      xfbml      : true,
      version    : 'v2.4',
       status: true,
        cookie: true
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
















    <script src="@ControllerUtil.getResourceRoute("ideal-image-slider.js")"></script>


    <!--<script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>-->


    <script>
       $("#slider").mouseenter(function(mouseEvent){
   //alert("You entered slider!");

    slider.stop();


     });

      $("#slider").mouseleave(function(mouseEvent){
  //  alert("You leave slider!");

    slider.start();




     });

     $(".iis-previous-nav,.iis-next-nav").mouseup(function(mouseEvent){

    //alert("You mouseup navigation!");

     slider.start();

     });




    </script>
   @* <script>
        //===new add for view event link
        //tableOnSearch
       var searchInput =  $("#search").val();
       alert("searchInput.length :: "+searchInput.length);
       if(searchInput.length>0){
       $("#tableOnSearch").hide();
       }
    </script>*@
}
