@(event: Event, pageId: Long, pageForm: Form[Sponsors])

@import html5.tags.html._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main("Create Sponsors") {


    <style>



    .input-group-addon {
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color:#FFF;
    text-align: center;
    background-color:  #C0D730;
    border: 1px solid  #C0D730;
    border-radius: 4px;
    }
    .input-group-addon{
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    }
    /*#item_amount{

        width : 50% !important;
    }*/

    </style>





    <div class="wrapper">
        <div class="section-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <!-- Remove the .animated class if you don't want things to move -->
                        <h1 class="animated slideInLeft"><span>Create Sponsors Page</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                    <!-- Contact us form -->
                <div class="col-sm-8">
                    <h4>This form will help you create a volunteers page.</h4>
                    @events.eventWorkflowMenu(event, "sponsors")
                    <br/>
                    <hr>
                    @general.alerts()
                    @if(pageForm.hasErrors) {
                        <div class="alert alert-dismissable alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @Messages("form.has.errors")
                        </div>
                    }
                    @if(pageForm.hasGlobalErrors) {
                        <div class="info-board info-board-red">
                            <span class="label label-important">@pageForm.globalError.message</span>
                        </div>
                    }
                    @form(routes.SponsorsMgmt.update(event, pageId), 'role -> "form", 'id -> "pageForm") {
                        @text(pageForm("name"), '_label -> "Page Name", 'class -> "form-control", 'placeholder -> "Name")
                        @text(pageForm("title"), '_label -> "Page Title", 'class -> "form-control")
                        @helper.textarea(pageForm("content"), '_label -> "Page Content", 'class -> "form-control", '_wysiwyg -> true)

                        <div id="well sponsoritems" class="well">
                            <legend>Sponsor Items</legend>
                            @repeat(pageForm("sponsoritems")) { sponsoritem =>
                                <div class="form-inline sponsoritem" id = "form_inline_sponsoritem">
                                    @if(!sponsoritem("donation.id").value.isEmpty) {

                                        <div class="col-md-3 col-lg-3" style="font-size: 12px;">@checkbox(sponsoritem("logo"),'id -> "logo",'_showConstraints -> false, '_label -> "Logo upload allowed", 'class -> "", 'placeholder -> "Item title", '_label_class -> "sr-only")Logo upload allowed</div>



                                      @*  if(sponsoritem("webLogo").value.equals("true")){
                                            <div class="col-md-3 col-lg-3" style="font-size: 12px;">@checkbox(sponsoritem("webLogo"),'id -> "webLogo",'_showConstraints -> false, '_label -> "URL addition allowed ", 'class -> "form-control", 'placeholder -> "Item title", '_label_class -> "sr-only")URL addition allowed</div>
                                        }*@


                                        <div class="col-md-3 col-lg-3" style="font-size: 12px;">@checkbox(sponsoritem("webLogo"),'id -> "webLogo",'_showConstraints -> false, '_label -> "URL addition allowed ", 'class -> "", 'placeholder -> "Item title", '_label_class -> "sr-only")URL addition allowed</div>


                                        @sponsoritem("title").value | @sponsoritem("description").value | @sponsoritem("amount").value (Already sponsored, cannot be modified)

                                        <input type="hidden" name="@sponsoritem("id").name" value="@sponsoritem("id").value"/>
                                        <input type="hidden" name="@sponsoritem("title").name" value="@sponsoritem("title").value"/>
                                        <input type="hidden" name="@sponsoritem("description").name" value="@sponsoritem("description").value"/>
                                        <input type="hidden" name="@sponsoritem("amount").name" value="@sponsoritem("amount").value"/>
                                        <br/><br/>




                                       @* @sponsoritem("title").value | @sponsoritem("description").value | @sponsoritem("amount").value (Already sponsored, cannot be modified)*@
                                        <input type="hidden" name="@sponsoritem("id").name" value="@sponsoritem("id").value"/>
                                        <br/><br/>
                                    } else {


                                        <div class="col-md-3 col-lg-3" style="font-size: 12px;">@checkbox(sponsoritem("logo"),'id -> "logo",'_showConstraints -> false, '_label -> "Logo upload allowed", 'class -> "", 'placeholder -> "Item title", '_label_class -> "sr-only")Logo upload allowed</div>

                                        <div class="col-md-3 col-lg-3" style="font-size: 12px;">@checkbox(sponsoritem("webLogo"),'id -> "webLogo",'_showConstraints -> false, '_label -> "Item Title", 'class -> "", 'placeholder -> "Item title", '_label_class -> "sr-only")URL addition allowed</div>





                                        <div class="col-md-3 col-lg-3">@text(sponsoritem("title"), '_showConstraints -> false, '_label -> "Item Title", 'class -> "form-control", 'placeholder -> "Item title", '_label_class -> "sr-only")</div>
                                        <div class="col-md-3 col-lg-3">@text(sponsoritem("description"), '_showConstraints -> false, '_label -> "Item Description", 'class -> "form-control", 'placeholder -> "Item description", '_label_class -> "sr-only")</div>

                                        <div class="col-md-5 col-lg-5">@text(sponsoritem("amount"), '_showConstraints -> false, '_label -> "Item Amount ", 'id -> "item_amount",'class -> "form-control", 'placeholder -> "Item amount", '_label_class -> "sr-only", '_addon -> "Sponsorship Amount   $")</div>
                                        <div class="col-md-1 col-lg-1 text-center"><a type="button" class="removeSponsorItem">Remove</a></div>
                                        <input type="hidden" name="@sponsoritem("id").name" value="@sponsoritem("id").value"/>
                                        <br clear="all"/><br clear="all"/>
                                    }
                                </div>
                            }

                            @**
                            * Keep an hidden block that will be used as template for Javascript copy code
                            **@
                            <div class="form-inline sponsoritem_template" id ="form_inline_sponsoritem">

                                @checkbox(pageForm("sponsoritems[x].logo"),'id -> "logo", 'onclick -> "clickOnLogoCheck(this)", '_showConstraints -> false, '_label -> "Logo upload allowed", 'class -> "", '_label_class -> "sr-only")
                               Logo upload allowed

                                @checkbox(pageForm("sponsoritems[x].webLogo"),'id -> "webLogo", '_showConstraints -> false, '_label -> "Item Title", 'class -> "", '_label_class -> "sr-only")
                                URL addition allowed




                                @text(pageForm("sponsoritems[x].title"), '_showConstraints -> false, '_label -> "Item Title", 'class -> "form-control", 'placeholder -> "Item title", '_label_class -> "sr-only")
                                @text(pageForm("sponsoritems[x].description"), '_showConstraints -> false, '_label -> "Item Description", 'class -> "form-control", 'placeholder -> "Item description", '_label_class -> "sr-only")

                                @text(pageForm("sponsoritems[x].amount"), '_showConstraints -> false, '_label -> "Item Amount",  'id -> "item_amount" ,'class -> "form-control", 'placeholder -> "Item amount", '_label_class -> "sr-only", '_addon -> "Sponsorship Amount   $")
                                <a type="button" class="removeSponsorItem">Remove</a>
                                <br/><br/>
                            </div>
                            <br/>
                            <div class="manage">
                                <a type="button" class="addSponsorItem btn btn-blue">Add another sponsored item</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-green">Save this sponsors page</button>&nbsp;&nbsp;
                        <a href="@routes.EventMgmt.get(event)" class="btn btn-default" type="button">Cancel</a>
                    }
                </div>
                    <!-- Right column -->
                <div class="col-sm-4">
                    <h4>Sponsors Help</h4>
                    <hr>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#helpOne">
                                        Question #1
                                    </a>
                                </h4>
                            </div>
                            <div id="helpOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#helpTwo">
                                        Question #2
                                    </a>
                                </h4>
                            </div>
                            <div id="helpTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#helpThree">
                                        Question #3
                                    </a>
                                </h4>
                            </div>
                            <div id="helpThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
 $(document).ready(function(){
	 if($("#sponsoritems_0__amount").val() == 0) {
	     $("#sponsoritems_0__amount").val('');
	     $("#sponsoritems_0__amount").empty();
	 }
 });
 </script>
    <!-- Extra Hidden Content -->
    @sponsors.samples()
    <script src="@ControllerUtil.getResourceRoute("scSponsorsAdmin.min.js")"></script>



    <script>
    /*   if($('#logo').is(':checked')) {
       alert("checked ");
$("#webLogo").show();
//$('#agreeToPolicy').prop('checked', "unchecked");
}else{
alert("not checked..");
$("#webLogo").hide();
}*/
    </script>


    <script>
  /*      $(function() {
  enable_cb();
  $("#logo").click(enable_cb);
});

function enable_cb() {
  if (this.checked) {
    $("#webLogo").removeAttr("disabled");
  } else {
    $("#webLogo").attr("disabled", true);
  }
}*/
    </script>


    <script>


    $(document).ready(function(){

   /* var logo =  $("#logo").val;
    alert("logo : "+logo);
     for(var i = 0; i< logo.length; i++){
     alert("uu : "+i+"logo[i] : "+logo[i]);
    //x = document.getElementById(logo[i]).checked;
    if($(this).is(':checked')){
     alert("checked");
        // $("#webLogo").removeAttr("disabled");
    }else {
    alert("unchecked");
//$("#webLogo").attr("disabled", true);
    }
    }*/





    $('input[id="logo"]').each(function (index, value) {
    //alert("ll"+index);
    if ( $(this).is(':checked')) {
      //alert("checkeddddddd");
         webLogoStatus(index,'checked');

        // $(this).siblings().removeAttr("disabled");
    }else{
   // alert("hhh");
     webLogoStatus(index,'unChecked');

    //$(this).parent.siblings().attr("disabled", true);
    }
});


/*function webLogoStatus(index,checkedValue){
alert("within webLogoStatus :: "+index);
$('input[id="webLogo"]').each(function(index1, value1){
//alert("index1 :: "+index1);
if(index1 == index){

alert("index1 == index");
alert("checkedValue : "+checkedValue);
if(checkedValue === 'checked'){
alert("removeAttr");
$(this).removeAttr("disabled");
alert("after removeAttr");
}else if(checkedValue === 'unChecked'){

alert("Attr");
$(this).attr("disabled", true);
alert("after Attr");
}
}
});
}*/


/*function webLogoStatus(index,checkedValue){
alert("within webLogoStatus :: "+index);
$('input[id="webLogo"]').each(function(index1, value1){
//alert("index1 :: "+index1);

if(index1 == index){

alert("index1 == index");
alert("this.name : "+this.name);
//alert("checkedValue : "+checkedValue);
if(checkedValue === 'checked'){
alert("removeAttr");
$(this).removeAttr("disabled");
alert("after removeAttr");
}else if(checkedValue === 'unChecked'){

alert("Attr");
$(this).attr("disabled", true);
alert("after Attr");
}
}
});
}*/


});




function webLogoStatus(index,checkedValue){
//alert("within webLogoStatus :: "+index);
$('input[id="webLogo"]').each(function(index1, value1){
//alert("index1 :: "+index1);

if(index1 == index){

//alert("index1 == index");
//alert("this.name : "+this.name);
//alert("checkedValue : "+checkedValue);
if(checkedValue === 'checked'){
//alert("removeAttr");
$(this).removeAttr("disabled");
//alert("after removeAttr");
}else if(checkedValue === 'unChecked'){

//alert("Attr");
$(this).attr("disabled", true);
//alert("after Attr");
}
}
});
}




 $('input[id="logo"]').click(function(){


 var indexOfLogo = this.name.substring(this.name.indexOf("[")+1,this.name.indexOf("]"));
 //alert("indexOfLogo :: "+indexOfLogo);
  /*str.substring(1, 4);
  str.indexOf("welcome")*/;
 /*indexOfLogo.subString*/
  if ( $(this).is(':checked')) {
    //  alert("checkeddddddd");

         webLogoStatus(indexOfLogo,'checked');

        // $(this).siblings().removeAttr("disabled");
    }else{
   // alert("hhh");
     webLogoStatus(indexOfLogo,'unChecked');

    //$(this).parent.siblings().attr("disabled", true);
    }
 });

 function clickOnLogoCheck(logoId){
 //alert("clickOnLogoCheck"+logoId.name);
 var indexOfLogo = logoId.name.substring(logoId.name.indexOf("[")+1,logoId.name.indexOf("]"));
 //alert("indexOfLogo :: "+indexOfLogo);
  /*str.substring(1, 4);
  str.indexOf("welcome")*/;
 /*indexOfLogo.subString*/
  if ( $(logoId).is(':checked')) {
     // alert("checkeddddddd");

         webLogoStatus(indexOfLogo,'checked');

        // $(this).siblings().removeAttr("disabled");
    }else{
  //  alert("hhh");
     webLogoStatus(indexOfLogo,'unChecked');

    //$(this).parent.siblings().attr("disabled", true);
    }
 }

   /* $(document).ready(function(){
     var x ;


     $('div[id="form_inline_sponsoritem"]').each(function () {
    if ( $().is(':checked')) {
      alert("checked");
         $("#webLogo").removeAttr("disabled");
    }else{
    $("#webLogo").attr("disabled", true);
    }
});



    for(var i = 0; i< logo.length; i++){
    x = document.getElementById(logo[i]).checked;
    if(x == true){
     alert("checked");
         $("#webLogo").removeAttr("disabled");
    }else if(x == false){
    alert("unchecked");
$("#webLogo").attr("disabled", true);
    }
    }
    /!* if($('#logo').is(':checked')) {
        alert("checked");
         $("#webLogo").removeAttr("disabled");
    }

     if($('#logo').is(':checked')) {
        alert("checked");
         $("#webLogo").removeAttr("disabled");

//$('#agreeToPolicy').prop('checked', "unchecked");
}else{
 alert("unchecked");
$("#webLogo").attr("disabled", true);
}*!/
    })*/

    </script>
    <script>
/*var renumber = function(sponsoritem) {
            $('.sponsoritem').each(function(i) {
            //alert('i :: '+i);
                $('input', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/sponsoritems\[.+?\]/g, 'sponsoritems[' + i + ']'))
                })
            })
        }

        $(document).on("click", ".removeSponsorItem1", function(event){
        alert('on click on remove button');
        	event.preventDefault();
        	alert('$(this).parent() :: '+$(this).parent());


  			$(this).parent().remove();
  		  	renumber(event);
        });*/



       /* function removeSponsorItem(sponsorItemId, pageId, eventId){
              alert("sponsorItemId : "+sponsorItemId);
              alert("pageId :: "+pageId);
              alert("eventId :: "+eventId);
              if(sponsorItemId!=null){
               var donationLoad = '';

      window.location.href = donationLoad + "?type=removeSponsorItem&id=" + sponsorItemId ;

              }
        }*/
    </script>
}