@(event: Event, pfp: Pfp, donationForm: Form[Donation])

@import html5.tags.html._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Create Donation") {
<!-- Main body
================== -->
  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Create Donation</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <!-- Contact us form -->
        <div class="col-sm-8">
          @if(pfp == null) {
          	<h2 class="hl top-zero">Donating to @event.name</h2>
          } else {
          	<h2 class="hl top-zero">Donating to @pfp.name</h2>
          	<h3>@event.name</h3>
          }
          <hr>
      	  @general.alerts()
		  @if(donationForm.hasErrors) {
	        <div class="alert alert-dismissable alert-danger">
	        <button type="button" class="close" data-dismiss="alert">&times;</button>
	          @Messages("form.has.errors")<br/>
	          @for(key <- donationForm.errors().keySet()){
			      @for(error <- donationForm.errors().get(key)){
			          <br/>@Messages(error.message())
			      }
			  }  	
	        </div>
          }
    @form(controllers.routes.DonationMgmt.save(event), 'id -> "donateForm") {
    		<input type="hidden" id="event_name" name="event.name" value="@event.name"/>
			@if(pfp.pfpType == Pfp.PfpType.GENERAL) {
			   		@select(
			                donationForm("pfp.id"), 
			                options(Pfp.findByEventIdMap(event)), 
			                '_label -> "Select the Participant for Your Donation (General Fund donations are made to the Event only)", 
			                '_default -> "-- Select Participant --",
			                '_showConstraints -> false, 'class -> "form-control"
			            )
			} else {
				<input type="hidden" name="pfp.id" value="@pfp.id"/>
			}
			<div id="well" class="well">
            	<center><legend class="legend_hightlight">Choose an amount OR Enter your own amount below.</legend></center>
	            <table class="table table-no-border">
	          			<tr><td><button type="button" class="btn btn-block btn-green donationAmount" value="500">  $500</button></td><td><button type="button" class="btn btn-block btn-green donationAmount" value="250"> $250</button></td><td><button type="button" class="btn btn-block btn-green donationAmount" value="150"> $150</button></td></tr>
	          			<tr><td><button type="button" class="btn btn-block btn-green donationAmount" value="100"> $100</button></td><td><button type="button" class="btn btn-block btn-green donationAmount" value="50"> $50</button></td><td><button type="button" class="btn btn-block btn-green donationAmount" value="25">$25</button></td></tr>
	          	</table>
	            @text(donationForm("amount"), '_label -> "Amount", 'class -> "form-control", 'placeholder -> "Donation amount", '_addon -> "$")

				<!--@checkbox(donationForm("agreeToPolicy"), '_label -> "Give this amount monthly for the duration of this event", '_labelSide -> "right")-->
            </div>
            <br/>
            <div id="well" class="well">
            	<center><legend class="legend_hightlight">Donor Information</legend></center>
            @text(donationForm("firstName"), '_label -> "First Name", 'class -> "form-control")
            @text(donationForm("lastName"), '_label -> "Last Name", 'class -> "form-control")
            @text(donationForm("email"), '_label -> "Email", 'class -> "form-control")
            @*@text(donationForm("phone"), '_label -> "Phone", 'class -> "form-control", 'title -> "10 digits (numeric only)")*@
			@text(donationForm("phone"), '_label -> "Phone", 'id -> "phNo", 'class -> "form-control", '_addon -> "glyphicon-earphone", 'placeholder -> "Phone: 555-555-1212 (only numbers)", 'title -> "10 digits and numeric only  and the format will be like example(ex.123-345-5678)")
            </div>
            <br/>
            <div id="well" class="well">
            	<center><legend class="legend_hightlight">Message to Participant</legend></center>
				<!----------new addition of checkbox-----14.08.2015----start-->
			@checkbox(donationForm("agreeToPolicy"), '_label -> "Make my donation Anonymous", '_labelSide -> "right")
            @text(donationForm("donorName"), '_label -> "Donor Name to appear on fundraiser page", 'class -> "form-control")
            @text(donationForm("donorMessage"), '_label -> "Donor Message to appear on fundraiser page", 'class -> "form-control")
            </div>
            <br/>
            <button type="button" class="btn btn-primary" id="payByCreditCard">Pay By Credit Card</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id="payByCheck">Pay By Check</button>
			@if(ControllerUtil.isUserInRole(models.security.SecurityRole.EVENT_ADMIN) ||
			ControllerUtil.isUserInRole(models.security.SecurityRole.ROOT_ADMIN) ||
			ControllerUtil.isUserInRole(models.security.SecurityRole.SYS_ADMIN)
			) {
			<!--&nbsp;&nbsp;<button type="button" class="btn btn-primary" id="payByCash">Pay By Cash</button>-->
			}
			<br/><br/><br/>
            <div id="payByCheckDiv">
                                    <div id="well" class="well">
            	<legend>Check- Payment Information</legend>
            	@if(ControllerUtil.isUserInRole(models.security.SecurityRole.EVENT_ADMIN) ||
			ControllerUtil.isUserInRole(models.security.SecurityRole.ROOT_ADMIN) ||
			ControllerUtil.isUserInRole(models.security.SecurityRole.SYS_ADMIN)
			) {
			@text(donationForm("checkNum"), '_label -> "Check Num", 'class -> "form-control")
			} else {
            			<h5>PLEASE NOTE: Payment by credit card is our preferred method of payment.</h5>
						<p>
							Before you pay by check, please consider the following:
							<ul>
								<li>Credit card payments cost us less to process, so more of your money goes to your event.</li>
								<li>Credit card payments are immediately applied to your participant's fundraising total.</br>
									Checks can take 1-2 weeks to receive, process, and credit to your participant's total.</li>
								<li>When you pay by credit card your participant receives immediate notification of your support and you immediately receive a receipt for your donation.</li>
							</ul>
							<button type="button" class="btn btn-primary" id="payByCreditCardInstead">Pay By Credit Card</button>
						</p>
						}
						<button type="submit" class="btn btn-green" id="payByCheckButton">Pay Donation by Check</button>&nbsp;&nbsp;
            			@if(ControllerUtil.isUserInRole(models.security.SecurityRole.EVENT_ADMIN) ||
							ControllerUtil.isUserInRole(models.security.SecurityRole.ROOT_ADMIN) ||
							ControllerUtil.isUserInRole(models.security.SecurityRole.SYS_ADMIN)
							) {
            			<a href="@routes.Application.profileSearchDonations()" class="btn btn-default" type="button">Cancel</a>
            			} else {
            			<a href="@routes.EventMgmt.get(event)" class="btn btn-default" type="button">Cancel</a>
            			}
			</div>
            </div>
             <br/>
            <input type="hidden" name="payByCheck" value="false"/>
            <input type="hidden" name="paymentType" value="CREDIT"/>
    }
    </div>

<!-- Right column -->
		@if(ControllerUtil.isUserInRole(models.security.SecurityRole.EVENT_ADMIN) ||
			ControllerUtil.isUserInRole(models.security.SecurityRole.ROOT_ADMIN) ||
			ControllerUtil.isUserInRole(models.security.SecurityRole.SYS_ADMIN)
		) {
        <div class="col-sm-4">
          <h4>Donation Help</h4>
          <hr>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#helpOne">
                      Question #1
                    </a>
                  </h4>
                </div>
                <div id="helpOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#helpTwo">
                      Question #2
                    </a>
                  </h4>
                </div>
                <div id="helpTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#helpThree">
                      Question #3
                    </a>
                  </h4>
                </div>
                <div id="helpThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>
        </div>
        }
      </div>
    </div>
  </div>
  <script>
  $( document ).ready(function() {

//alert("document.ready")	 ;
	$('#ccExpDate').val($('#expMM').val()+'/'+$('#expYY').val());
	     //$('#payByCreditCardDiv').hide();
	     $('#payByCheckDiv').hide();
	     $('#payByCashDiv').hide();
	   //  alert("before donationForm.hasErrors && donationForm paymentType.value == CREDIT")
;	     @if(donationForm.hasErrors && donationForm("paymentType").value == "CREDIT") {
	     //$('#payByCreditCardDiv').show();
	     	//$('input[name=payByCheck]').val('false');
			//$('input[name=paymentType]').val('CREDIT');	*/
			//alert("within donationForm.hasErrors && donationForm paymentType.value == CREDIT");
               // $('#payByCreditCardDiv').hide();
               // alert("before paybycreditcard click");
             //   $("#payByCreditCard").click();
	     }
	   });
	   $("#payByCreditCard").click(function(){
             //alert("within paybycreditcard click..");
            // $('#payByCreditCardDiv').hide();
               $('form#donateForm').submit();
           });
	   $('form#donateForm').submit(function(){
           //  $('#payByCreditCardDiv').hide();
                //alert("within submit...");
	   		$('#ccExpDate').val($('#expMM').val()+'/'+$('#expYY').val());
		    $('#payByCreditCardButton').attr('disabled', 'disabled');
		    $('#payByCheckButton').attr('disabled', 'disabled');
		    $('#payByCashButton').attr('disabled', 'disabled');
		});
  </script>
<script src="@ControllerUtil.getResourceRoute("scDonationsView.min.js")"></script>



	<script>

//=========new add


   $( "#phNo" ).keyup(function(){
   //alert("on keyup")

   var phNo1;
   //var lastChar;
   var phNo = document.getElementById("phNo").value;
   //alert("phNo "+phNo)
   //previousLength = phNo.length;
   //alert("phNo "+phNo)
   currentLength = phNo.length;
   //alert("currentLength :: "+currentLength);
   //alert("previousLength :: "+previousLength);
var length;

if(currentLength == 4 || currentLength == 8){
//alert("if(currentLength == 4 || currentLength == 8)");
var lastChar = phNo.charAt(currentLength-1);
//alert("lastChar "+lastChar);
if(lastChar!= '-'){
phNo = phNo.substring(0,currentLength-1);
phNo =phNo.concat("-");
phNo = phNo.concat(lastChar);

}
//phPart1 = phNo;
previousLength = phNo.length;
 $('#phNo').val(phNo);

}




else{

   if(currentLength<previousLength){
//alert("currentLength<previousLength");
   previousLength = currentLength;
   if(currentLength> 0){
   //alert("currentLength ::"+currentLength);
//alert("phNo "+phNo);
var lastChar = phNo.charAt(currentLength-1);

//alert("lastChar"+lastChar);
if(lastChar == '-'){
phNo = phNo.substring(0,currentLength-1);
}
else{
phNo = phNo.substring(0,currentLength);
}
   //alert("if return");
//phNo = phNo.substring(0,currentLength);
     $('#phNo').val(phNo);

   }

   phPart1 = null;
   }


else{
   //alert("else");

      if( phNo.length <8){
      previousLength = phNo.length;
      if(phNo.contains("-")){
     // alert("phNo.contains("-")")
      length = phNo.length;
     // alert("length1 "+length)
        phNo = phNo.substring(phNo.indexOf("-")+1,length);
        //alert("phNo "+phNo);

      }
      length = phNo.length;

    //alert("length11 "+length)
      if(length == 3){
     // alert("length == 3"+phNo.concat("-"));
      if(phPart1!=null){
      phNo1 = phNo.concat("-");
      //alert("phNo1 :: "+phNo1);
     // alert("before phPart1 :: "+phPart1);
      phPart1 = phPart1.concat(phNo1);
      previousLength = phPart1.length;
      //alert("after phPart1 :: "+phPart1)
         $('#phNo').val(phPart1);
      }else{
      phNo = document.getElementById("phNo").value;
      // alert("before phPart1 :: "+phPart1);
      phPart1 = phNo.concat("-");
      previousLength = phPart1.length;
      //alert("previousLength ")
      //alert("phPart1 :: "+phPart1)
         $('#phNo').val(phPart1);
      }


   // document.getElementById("phNo").innerHTML = phNo.concat("-");
       // alert("final :: "+document.getElementById("phNo").value);
      }
      }else{
      previousLength = phNo.length;
      }
 //aler("previousLength :: "+previousLength);
      }
      }


   });
  </script>


}