@(event: Event, pfp: Pfp, donationForm: Form[Donation])

@import html5.tags.html._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main("Create Donation") {
    <!-- Main body
================== -->
    <!--=====start of new addition================-->
    @general.alerts()
    @if(donationForm.hasErrors) {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @Messages("form.has.errors")<br/>
            @for(key <- donationForm.errors().keySet()){
                @for(error <- donationForm.errors().get(key)){
                    <br/>@Messages(error.message())
                }
            }
        </div>
    }









    @form(controllers.routes.DonationMgmt.validateAndSendCreditInfo(event), 'id -> "donateForm") {


        <!--=====end of new addition================-->




        <div class="wrapper">
            <br/><br/><br/>
            <div id="payByCreditCardDiv">
                <div id="well" class="well">
                    <legend>Credit Card- Payment Information </legend>
                    @if(!play.Play.isProd()) {
                        <p>
                    <!--<h5>Sample Credit Card</h5>-->
                        <!--Card Number = 5000300020003003<br/>-->
                        <!--Cvv = 123<br/>-->
                        <!--Zip = 37920<br/>-->
                        <!--Exp Date = 1225<br/>-->
                        <!--</p>-->
                        <!--<hr/>-->
                    }
                    @text(donationForm("ccNum"), '_label -> "Credit Card Num", 'class -> "form-control", 'title -> "Must be between 13-19-Digits.")
                    <!--@text(donationForm("ccCvvCode"), '_label -> "CVV Num", 'class -> "form-control", 'title -> "Must be 3 or 4-Digits.")-->
                    <!--@text(donationForm("ccZip"), '_label -> "Credit Card Zip Code", 'class -> "form-control", 'title -> "5 or 9 digits with dash (11111-1111)")-->
                    <!--<div class="form-group ">-->
                        <!--<label for="expMM" class=" ">Select Exp Month and Year</label>-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon">-->
                                        <!--<span class="glyphicon glyphicon-calendar" style="vertical-align : middle"></span>-->
                                    <!--</span><select name="expMM" id="expMM" class="form-control">-->
                                    <!--<option value="01" @if(donationForm("expMM").value == "01") {selected}>01 - January</option>-->
                                    <!--<option value="02" @if(donationForm("expMM").value == "02") {selected}>02 - February</option>-->
                                    <!--<option value="03" @if(donationForm("expMM").value == "03") {selected}>03 - March</option>-->
                                    <!--<option value="04" @if(donationForm("expMM").value == "04") {selected}>04 - April</option>-->
                                    <!--<option value="05" @if(donationForm("expMM").value == "05") {selected}>05 - May</option>-->
                                    <!--<option value="06" @if(donationForm("expMM").value == "06") {selected}>06 - June</option>-->
                                    <!--<option value="07" @if(donationForm("expMM").value == "07") {selected}>07 - July</option>-->
                                    <!--<option value="08" @if(donationForm("expMM").value == "08") {selected}>08 - August</option>-->
                                    <!--<option value="09" @if(donationForm("expMM").value == "09") {selected}>09 - September</option>-->
                                    <!--<option value="10" @if(donationForm("expMM").value == "10") {selected}>10 - October</option>-->
                                    <!--<option value="11" @if(donationForm("expMM").value == "11") {selected}>11 - November</option>-->
                                    <!--<option value="12" @if(donationForm("expMM").value == "12") {selected}>12 - December</option>-->
                                <!--</select></div>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<select name="expYY" id="expYY" class="form-control">-->
                                    <!--<option value="2014" @if(donationForm("expYY").value == "2014") {selected}>2014</option>-->
                                    <!--<option value="2015" @if(donationForm("expYY").value == "2015") {selected}>2015</option>-->
                                    <!--<option value="2016" @if(donationForm("expYY").value == "2016") {selected}>2016</option>-->
                                    <!--<option value="2017" @if(donationForm("expYY").value == "2017") {selected}>2017</option>-->
                                    <!--<option value="2018" @if(donationForm("expYY").value == "2018") {selected}>2018</option>-->
                                    <!--<option value="2019" @if(donationForm("expYY").value == "2019") {selected}>2019</option>-->
                                    <!--<option value="2020" @if(donationForm("expYY").value == "2020") {selected}>2020</option>-->
                                    <!--<option value="2021" @if(donationForm("expYY").value == "2021") {selected}>2021</option>-->
                                    <!--<option value="2022" @if(donationForm("expYY").value == "2022") {selected}>2022</option>-->
                                    <!--<option value="2023" @if(donationForm("expYY").value == "2023") {selected}>2023</option>-->
                                    <!--<option value="2024" @if(donationForm("expYY").value == "2024") {selected}>2024</option>-->
                                    <!--<option value="2025" @if(donationForm("expYY").value == "2025") {selected}>2025</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<input type="hidden" name="ccExpDate" id="ccExpDate"/>-->
                    <button type="submit" class="btn btn-green" id="payByCreditCardButton">
                        Pay Donation by Credit Card</button>&nbsp;&nbsp;
                    @if(ControllerUtil.isUserInRole(models.security.SecurityRole.EVENT_ADMIN) ||
                            ControllerUtil.isUserInRole(models.security.SecurityRole.ROOT_ADMIN) ||
                            ControllerUtil.isUserInRole(models.security.SecurityRole.SYS_ADMIN)
                    ) {
                        <a href="@routes.Application.profileSearchDonations()" class="btn btn-default" type="button">
                            Cancel</a>
                    } else {
                        <a href="@routes.EventMgmt.get(event)" class="btn btn-default" type="button">Cancel</a>
                    }
                </div></div>
        </div>
    }

}
    <script>
         $("#payByCreditCardButton").click(function(){
             //  alert("within payByCreditCardButton click..");
               $('form#donateForm').submit();
           });
	   $('form#donateForm').submit(function(){

              //  alert("within submit for credit info.....");
	   		$('#ccExpDate').val($('#expMM').val()+'/'+$('#expYY').val());
		    $('#payByCreditCardButton').attr('disabled', 'disabled');
		    $('#payByCheckButton').attr('disabled', 'disabled');
		    $('#payByCashButton').attr('disabled', 'disabled');
		});
    </script>