@(donation: Donation)

<div>
    <center><link rel="shortcut icon" type="image/png" href="@ControllerUtil.getResourceRoute("favicon.jpg")"></center>
<p>*PLEASE NOTE THAT ON YOUR CREDIT CARD STATEMENT YOUR DONATION WILL BE PROCESSED BY SCHOLASTIC CHALLENGE INC..</p>

<p>
    @if(donation.event!=null && donation.event.userAdmin!=null){
        @if(donation.event.userAdmin.organization!=null && donation.event.userAdmin.organization.name!=null){
            Thank you for your generous contribution to the @donation.event.userAdmin.organization.name as part of the annual @donation.event.name fundraiser. The funds raised by the @donation.event.name will directly serve the students and families of our school.
        }
    }

</p>
 
<p>Please save this information as a receipt for donation to be used as your tax deductible donation.</p> 
 
<p>

    @if(donation.event!=null && donation.event.userAdmin!=null){
        @if(donation.event.userAdmin.organization!=null){
Non-Profit Information:<br/>
            Non-Profit Name: @donation.event.userAdmin.organization.name<br/>
            Non-Profit Address: @donation.event.userAdmin.organization.address, @donation.event.userAdmin.organization.city, @donation.event.userAdmin.organization.state, @donation.event.userAdmin.organization.zip<br/>
            Non-Profit Tax ID #: @donation.event.userAdmin.organization.taxId<br/>
        }
    }

</p>

<p>
Payment Information:<br/>
Donor: @donation.ccName (ID: @donation.id)<br/>
    @if(donation.pfp!=null){
        Participant: @donation.pfp.name (ID: @donation.pfp.id)<br/>
    }

Donation Amount: $@donation.amount<br/>
Card Number: @donation.ccDigits<br/>
Transaction ID: @donation.transactionNumber<br/>
    @if(donation.dateCreated!=null){
        Time Submitted: @donation.dateCreated.format("MM/dd/yyyy HH:mm:ss")<br/>
    }

<p>If you have questions about your donation, please email us at donations@@scholasticchallenge.com or call us at 855-358-2022.</p>

<p>Disclaimer: All information has been provided from sources believed by Scholastic Challenge to accurate and reliable. Please consult with your tax advisor for specific tax advice.</p>
</div>