@main(Messages("playauthenticate.user.exists.title")) {
<!-- Main body
================== -->

  <div class="wrapper">
    <!-- Page Tip -->
    <div class="page-tip animated slideInDown">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>An issue has occurred during signup or login</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Form -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h3 class="hl top-zero">@Messages("playauthenticate.user.exists.title")</h3>
          <hr>
		  <div>
			 @Messages("playauthenticate.user.exists.message")
          </div>
        </div>
      </div>
    </div>
  </div>
}