@(providerKey: String)

@main(Messages("playauthenticate.oauth.access.denied.title")) {
<!-- Main body
================== -->

  <div class="wrapper">
    <!-- Page Tip -->
    <div class="page-tip animated slideInDown">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>@Messages("playauthenticate.oauth.access.denied.title")</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Form -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h3 class="hl top-zero">@Messages("playauthenticate.oauth.access.denied.title")</h3>
          <hr>
		  <div>
			 @Messages("playauthenticate.oauth.access.denied.explanation")
          </div>
          <div>
            @Messages("playauthenticate.oauth.access.denied.alternative") <a href="@routes.Signup.signup">@Messages("playauthenticate.oauth.access.denied.alternative.cta")</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
}