@(emailForm: Form[providers.taxid.TaxidAuthProvider.TaxidUserIdentity])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.password.forgot.title")) {
<!-- Main body
================== -->

  <div class="wrapper">
    <!-- Page Tip -->
    <div class="page-tip animated slideInDown">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>@Messages("playauthenticate.password.forgot.title")</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Form -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h3 class="hl top-zero">@Messages("playauthenticate.password.forgot.title")</h3>
          <hr>
		  <div>
		 	@form(routes.Signup.doForgotPassword) {
	   
            @if(emailForm.hasGlobalErrors) { 
                <p class="error">
		            <span class="label label-important">@emailForm.globalError.message</span>
		        </p>
            }
	   
	   		@_emailPartial(emailForm)
           
			<input type="submit" value="@Messages("playauthenticate.password.forgot.cta")" class="btn btn-primary"> 
			}
          </div>
        </div>
      </div>
    </div>
  </div>
}