@main(Messages("playauthenticate.verify.email.title")) {
<!-- Main body
================== -->

  <div class="wrapper">
    <!-- Page Tip -->
    <div class="page-tip animated slideInDown">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>Please verify your registration email.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Form -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 signup">
          <h3 class="hl top-zero">@Messages("playauthenticate.verify.email.title")</h3>
          <hr>
			<p>
				@Messages("playauthenticate.verify.email.requirement")</br>
				@Messages("playauthenticate.verify.email.cta")
			<br/>
			
			</p>
        </div>
      </div>
    </div>
  </div>
}