<!-- Modal -->
<div class="modal fade" id="samplesModal" tabindex="-1" role="dialog" aria-labelledby="samplesLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Pfp Samples
      </div>
      <div class="modal-body">
        <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading" id="modalAccordion1">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#sampleOne">
          View - Pfp Sample #1
        </a>
        <button type="button" class="btn-sm btn-green pull-right" data-dismiss="modal" id="sample1">Select</button>
        <div class="clearfix"></div>
      </h4>
    </div>
    <div id="sampleOne" class="panel-collapse collapse in">
      <div class="panel-body">
        Welcome to My Personal Fundraising Page!

		I am participating in this years (Insert Event Name here) event. I am asking you to join me in the effort to support education and our school by making a contribution to support my efforts.

		The money I raise will be supporting all the students in our school. Because education is so important to me I am challenging myself to raise $(Insert PFP Goal here). As my friends and family make donations to my personal fundraising page my apple tree will grow and flourish. I will be watching and working very hard to not only grow one tree but an entire orchard by exceeding my goal. With your help I will be successful. So please help me add an apple to my tree. 

		To make a donation click the green donate button at the top of the page. Whatever you can give will help!

		Thank You!

		(Insert PFP Name Here)
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" id="modalAccordion2">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#sampleTwo">
          View - Pfp Sample #2
        </a>
        <button type="button" class="btn-sm btn-green pull-right" data-dismiss="modal" id="sample2">Select</button>
        <div class="clearfix"></div>
      </h4>
    </div>
    <div id="sampleTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Welcome to My Personal Fundraising Page!

		Dear friends and family,
		
		Thank you for visiting my Fundraising page. I hope you agree that schools are terribly underfunded, and I want to help change that. I am participating in this year's (Insert Event Name Here) to help raise funds to support all the students in our school. We are practicing really hard for the upcoming event and doing our best to raise the money our school needs to improve our education. 
		
		I appreciate you taking the time to look at my fundraising page and hope you will contribute to my effort!
		
		Thank you,
		
		(Insert PFP Name Here)
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" id="modalAccordion3">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#sampleThree">
          View - Pfp Sample #3
        </a>
         <button type="button" class="btn-sm btn-green pull-right" data-dismiss="modal" id="sample3">Select</button>
        <div class="clearfix"></div>
      </h4>
    </div>
    <div id="sampleThree" class="panel-collapse collapse">
      <div class="panel-body">
        Welcome to My Personal Fundraising Page!

		I'm asking you to join me in the effort to support education and our school by making a contribution to support my efforts.
		
		The money I raise will be used to help provide vital resources for our school. I have set a financial goal that is represented by the apple tree I'm growing. As I continue to raise funds my tree will grow and flourish. I hope I can count on your support to raise funds and grow my apple orchard.
		
		Please click the donate button now to help - large or small your donation will make a difference.
		
		I greatly appreciate your support!
      </div>
    </div>
  </div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeSample">Close</button>
      </div>
    </div>
  </div>
</div>