@(event: Event, pfp: Pfp, pfpDonations: List[Donation], teamDonations: Map[Long, Donation.DonationsByTeam], isEventOpen: Boolean, canManage: Boolean)

@main("View Pfp") {
<!-- Main body
================== -->


    <!-- FB Share -->
    <meta property="og:title" content="scholasticchallenge PFP" />
    <meta property="og:site_name" content="scholasticchallenge">
    <meta property="og:description" content="scholasticchallenge PFP" />
    <meta property="og:image" content="@event.heroImgUrl" />
    <meta property="og:type" content="website">
    <input type="hidden" id = "viewEventImage" value="@event.heroImgUrl">


    @if(ControllerUtil.getLocalUser(session())!=null){
        @defining(ControllerUtil.getLocalUser(session())) { user =>
            <input type="hidden" id = "userName" value="@user.firstName @user.lastName">
        }
    }
    <input type="hidden" id = "eventName" value="@pfp.name Fundraising Page ">
    <!--<input type="hidden" id = "eventContent" value="@Html(pfp.content)">-->
    <textarea id = "eventContent" style="display:none;">@Html(pfp.content)</textarea>
    <!-- End of FB Share -->



<style>
.section-header {
	padding: 15px 0;
	margin-bottom: 0px;
}
#wrap,
#hp-slider {
	height: 480px;
	background: url(@event.heroImgUrl) no-repeat center center;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@event.heroImgUrl', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@event.heroImgUrl', sizingMethod='scale')";
	border-bottom: 1px solid #eee;
	color: #fff;
}
</style>
  <div class="wrapper">
      <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>View PFP</span></h1>
          </div>
        </div>
      </div>
    </div>
    @general.alerts()
<div id="wrap">
      <div class="container" style="margin-left: -15px;">
        <div class="row" style="margin-left: -15px;">
          <div class="col-md-6 col-sm-12">
            <div class="list"  style="margin-left:0px;">
              <ul>
              	<li><br/><br/></li>
				<li class="hidden-sm hidden-xs"><br/><br/><br/><br/></li>
            	@if(isEventOpen) {
                		<li class="animated slideInLeft fourth visible-sm visible-xs"><span><a class="btn btn-lg btn-red" role="button" href="@routes.DonationMgmt.createWithPfp(event, pfp)">Donate</a></span></li>
                		<li class="visible-sm visible-xs"><br/><br/><br/></li>
                }
            	<div style="background:#E5452F">
            	<li>
            		<table style="border:15px solid #E5452F;">
            			<tr>
            				<td rowspan="2" style="border-right: 2px solid white;padding-right:15px"><h2>@pfp.name</h2></td>
            				<td style="padding-left:15px"><h4>@if(event.eventEnd == null) {@event.eventStart.format("MM/dd/yyyy")}else{@event.eventStart.format("MM/dd") - @event.eventStart.format("MM/dd/yyyy")}</h4></td>
            			</tr>
            			<tr>
            				<td style="padding-left:15px"><h4>@event.schoolId</h4></td>
            			</tr>
            		</table>
            	</li>
                </div>
              </ul>
            </div>
          </div>
          <div class="col-md-6 visible-md visible-lg">
          	@if(isEventOpen) {
            <div class="list">
            	<ul>
            		<li class="visible-md visible-lg"><br/><br/><br/><br/><br/><br/><br/><br/></li>
                	<li class="animated slideInLeft fourth visible-md visible-lg"><span><a class="btn btn-lg btn-red pull-right" role="button" href="@routes.DonationMgmt.createWithPfp(event, pfp)">Donate</a></span></li>
                </ul>
                </div>
          	}
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6">
				@events.eventSubMenu(event, canManage, pfp)
				    @if(pfp.imgUrl != null) {
        			<img src="@pfp.imgUrl" alt="PFP Photo" class="img-about img-responsive">
        			}
        			@Html(pfp.content)
        			<br/>
          <div class="clearfix"></div>
                    
            </div>
        <!-- Login Box -->
        <div class="col-md-4 col-sm-6">	
          <div class="panel panel-green" align="center">
                      <div class="panel-heading">
                        <h3 class="panel-title">@if(isEventOpen) { Fundraising Ends } else {Fundraising Has Ended }</h3>
                      </div>
                      <div class="panel-body">
                        <p>@if(isEventOpen) { <span id="daysUntil"></span> } else { The fundraising period has ended. If you would like to make a donation, please contact the event organizers. }</p>
                      </div>
                      <div class="panel-heading">
                      	@if(isEventOpen) { @event.fundraisingEnd.format("MMMMM d, yyyy") } else { Thank you for your support! }
                      </div>
           </div>



            <!----------------for gmail twitter and facebook --------start------->
            @*<div class="fb-share-button" data-href="http://scholasticchallenge.com" data-layout="button_count" id="url_sharefb"></div>*@

                &nbsp;&nbsp;

            <a class="twitter_link"  href="#" onclick="initfbShareButton()"><img  src="@ControllerUtil.getResourceRoute("fbshare.jpg")" style="width:80px;"></a>

            <a class="twitter_link" href="http://twitter.com/intent/tweet?text=&url="+window.location target="_blank" id="url_sharetweet"><img style="width:80px;" id = "twitter_share" src="@ControllerUtil.getResourceRoute("tweet.png")"></a>

            @*<span id="button_Email_share"></span>*@
            <script src="@ControllerUtil.getResourceRoute("addthisbuttons.js")"></script>



            <span   id="button_Email_share"><img src="@ControllerUtil.getResourceRoute("Email_Icon.png")" style="height: 26px;"/><span class="email_txt">       Email</span></span>
            <script type="text/javascript">
                   stLight.options({
                           publisher:'dadf4b5f-0de7-4abf-abad-07251fb68c3e' ,
                   });
            </script>

            <script>
                var urlPath=window.location.href;
                var imageUrl=document.getElementById("viewEventImage").value;
                function initfbShareButton()
                    {
                      var userName="Pfp Page";
                      if (document.getElementById("userName")) {
                           userName=document.getElementById('userName').value;
                      }
                      var eventName=document.getElementById('eventName').value;
                      var desc=document.getElementById('eventContent').value;

                      FB.ui(
                             {
                               method: 'feed',
                               name: eventName,
                               link: urlPath,
                               picture: imageUrl,
                               caption: userName,
                               description: desc,
                               message: eventName
                             },
                             function(response) {
                               if (response && response.post_id) {
                                // alert('Post was published.');
                               } else {
                                // alert('Post was not published.');
                               }
                             }
                          );
                      }


               /* stWidget.addEntry({
                        "service":"email",
                        "element":document.getElementById('button_Email_share'),
                        "summary":"link to page i.e: "+urlPath,
                         "url":"Please click on the link below to view the fundraiser I am participating in.",
                        "title":"Helping my School",
                        "type":"large",
                        "text":"Helping my School" ,
                        "image":imageUrl,
                        "onhover":false
                });
*/




               stWidget.addEntry({
        "service":"email",
        "element":document.getElementById('button_Email_share'),
        "summary":"link to page i.e: "+urlPath,
         "url":"Please click on the link below to view the fundraiser I am participating in.",
        "title":"Helping my School",
        "type":"custom",
        "text":"Helping my School" ,
        "image":imageUrl,
        "onhover":false
});


            </script>





            <!----------------for gmail twitter and facebook --------end------->

                <!----------addition of print -----start---->
            <a id = "doc_Print" href=""  data-toggle="tooltip"  title= "Printer Friendly Handout" onclick="printDiv('@pfp.name','@event.name' )"><img src="@ControllerUtil.getResourceRoute("Print.png")"></a>
                <!----------addition of print -----end---->

            <br/><br/>


           @defining(Pfp.getGoalPercentage(pfp.id, pfp.goal)) { percent =>
                <div class="percent-thumbnail"><img src="@ControllerUtil.getResourceRoute("progress/Progress Tree " + percent(2) + ".png")" alt="Percent" class="img-responsive" alt="Percent" height="360px"><div class="caption percent-content"><h4>Pfp Total: $@percent(0)</h4><h5>My Goal: $@pfp.goal (@percent(1)% of Goal)</h5></div></div>
            }
        </div>
      </div>
      <br/>
      <div class="row">
      <div class="col-md-6">
        <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">@pfp.name Supporters</h3>
                        </div>
                        <div class="panel-body panel-body-overflow">
                        <table class="table table-hover">
					      <thead>
					        <tr>
					          <th>Supporter</th>
					          <th>Message</th>
					          <th>Amount</th>
					        </tr>
					      </thead>
					      <tbody>
                        @if(pfpDonations.size == 0) {
                        	<tr>
					          <td colspan="3">No Donations At This Time</td>
					        </tr>
                        }  else {
                       @for(donation <- pfpDonations) {
                        <tr>
					          <td>@donation.donorName</td>
					          <td>@donation.donorMessage</td>
					          <td>@donation.amount</td>
					        </tr>
                        }
                        }
                        </tbody>
					    </table>
                        </div>
                    </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">@event.name Teams</h3>
                        </div>
                        <div class="panel-body panel-body-overflow">
 <table class="table table-hover">
					      <thead>
					        <tr>
					          <th>Team</th>
					          <th>Amount</th>
					        </tr>
					      </thead>
					      <tbody>
                        @if(teamDonations == null || teamDonations.size == 0) {
                        	<tr>
					          <td colspan="2">No Teams For This Event</td>
					        </tr>
                        }  else {
                        @for((key, value) <- teamDonations){
							<tr>
					          <td><a href="@routes.TeamMgmt.get(event, key)">@value.name</a></td>
					          <td>@value.amount</td>
					        </tr>
                        }
                        }
                         </tbody>
					    </table>
                        </div>
                    </div>
      </div>
    </div>
    </div>
  </div>
  <script>
	$('#daysUntil').countdown('@Event.getDateToMidnight(event.fundraisingEnd).format("yyyy/MM/dd HH:mm:ss")', function(event) {
		$(this).html(event.strftime('%D Days %H Hours %M Minutes %S Seconds'));
	});
  </script>


    <script>
        function printDiv(pfpName,eventName) {
   //Get the HTML of div
 //alert("pfpName "+pfpName);
 //alert("eventName "+eventName);

   var url = window.location.href;
  // alert("url "+url);

   var divElements = "Hi, my name is "+pfpName+"  and I am participating in the "+eventName+
  " I am trying to raise money to support education and hope you will visit my fundraising page "+
  "and will consider making a donation to help our school provide a better education for all our students."+
  "You can visit my fundraising page by typing the following link into your computers browser "+url+" Thank you for your consideration";
   //Get the HTML of whole page
   var oldPage = document.body.innerHTML;
   document.body.innerHTML =
     "<html><head><title></title></head><body style='font-size:1em;'><div id='display-date' ><br><br><br>" +
     divElements + "<br><br>"+divElements+"<br><br>"+divElements+"<br><br>"+divElements+"<br><br>"+divElements+"<br><br>"+divElements+"<br><br>"+divElements+"</div></body>";

   //Print Page
   window.print();

   //Restore orignal HTML
   document.body.innerHTML = oldPage;
}
    </script>

    <script>
       $(document).ready(function(){
        var pathname = window.location.pathname;
       // alert(pathname);
        var url      = window.location.href;
       // alert("url "+url);
        $("#url_sharetweet").attr("href", "http://twitter.com/intent/tweet?text=&url="+url);
        $("#url_sharefb").attr("data-href", url)
        });




    </script>

    <div id="fb-root"></div>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1536480463334122',
      xfbml      : true,
      version    : 'v2.4',
       status: true,
        cookie: true
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

}