@(f: Form[_])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@helper.inputPassword(
	f("password"),
	'_label -> Messages("playauthenticate.login.password.placeholder"),
	'class -> "form-control",
	'_addon -> "glyphicon-lock",
	'placeholder -> "Password",
	'_showConstraints -> false
)

@helper.inputPassword(
	f("repeatPassword"),
	'_label -> Messages("playauthenticate.login.password.repeat"),
	'class -> "form-control",
	'_showConstraints -> false,
	'_addon -> "glyphicon-lock",
	'placeholder -> "Repeat Password",
	'_error -> f.error("password"))