@(skipCurrent: Boolean = true)

@import com.feth.play.module.pa.views.html._

<script type="text/javascript">
function askOpenID(url) {
	var openid = prompt("Please enter your OpenID:", "yourname.myopenid.com");
	if(openid) {
		window.location.href = url + "?p=" + encodeURIComponent(openid);
	}
}
</script>
<ul class="providers">
	@forProviders(skipCurrent) { p =>
		<li>
		@if(p.getKey() == "openid") {
			<a href="javascript:void(0);" onclick="askOpenID('@p.getUrl()');">
		} else {
			<a href="@p.getUrl()">
		}
		@_providerIcon(p.getKey())</a>
		</li>
	}
	<li>
		<a href="/authenticate/password">
			<img alt="password icon" title="password" src="@routes.Assets.at("icons/password-24x24.png")">
		</a>
	</li>
</ul>