@(signupForm: Form[_])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(Messages("playauthenticate.signup.title"),"signup") {
<!-- Main body
================== -->

  <div class="wrapper">
    <!-- Page Tip -->
    <div class="page-tip animated slideInDown">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>Fill out the form below to sign up.</p>
          </div>
        </div>
      </div>
    </div>
    @general.alerts()
    <!-- Main Form -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 signup">
          <h3 class="hl top-zero">Registration</h3>
          <hr>
		  @if(signupForm.hasGlobalErrors) {
			<div class="info-board info-board-red"> 
				<span class="label label-important">@signupForm.globalError.message</span>
			</div>
		  }
	      @form(routes.Signup.doSignup) {
	      		<b>User Information (<span style="font-size: 75%;color: #737373">All Fields Required</span>)</b>
	      		<hr/>
              @helper.inputText(signupForm("firstName"),'_showConstraints -> false, '_label -> "Enter First Name(Required)", 'class -> "form-control", '_addon -> "glyphicon-user", 'placeholder -> "First Name" , 'title -> "please fill First Name Properly ")
              @helper.inputText(signupForm("lastName"), '_showConstraints -> false,'_label -> "Enter Last Name(Required)", 'class -> "form-control", '_addon -> "glyphicon-user", 'placeholder -> "Last Name", 'title -> "please fill Last Name Properly ")

              @******phno format*************24.08.2015***************start*****@

              <div style="display:none;">
              @helper.inputText(signupForm("phone"), '_label -> "Enter Phone Number",'_type -> "hidden", 'id -> "phNo", 'class -> "form-control", '_addon -> "glyphicon-earphone", 'placeholder -> "Phone (ex.123-345-5678) ,just put numbers special character will be automatically appeded", 'title -> "please fill Enter Phone Number field.10 digits and numeric only  and the format will be like example(ex.123-345-5678)")

    </div>
             <div><b>Enter Phone Number</b></div>





              <div>
                  <table>
                      <tr>
                          <td>
                              @helper.inputText(signupForm("phPart1"), '_label -> "nolabel",'_type -> "hidden",'onkeyup -> "autoFormAdvance(3,'areaCode','phonePre')",'maxlength -> "3", 'size -> "3", 'id -> "areaCode", 'class -> "form-control", '_addon -> "glyphicon-earphone", 'title -> "please fill Enter Phone Number field.10 digits and numeric only  and the format will be like example(ex.123-345-5678)")

                              </td>
                          <td> - </td>
                          <td>
                              @helper.inputText(signupForm("phPart2"), '_label -> "nolabel",'_type -> "hidden",'onkeyup -> "autoFormAdvance(3,'phonePre','phoneSuf')",'maxlength -> "3", 'size -> "3", 'id -> "phonePre", 'class -> "form-control",   'title -> "please fill Enter Phone Number field.10 digits and numeric only  and the format will be like example(ex.123-345-5678)")
                              </td>
                          <td> - </td>
                          <td>
                              @helper.inputText(signupForm("phPart3"), '_label -> "nolabel",'_type -> "hidden",'onchange -> "mergeTotalPhNo()",'maxlength -> "4", 'size -> "4", 'id -> "phoneSuf", 'class -> "form-control",   'title -> "please fill Enter Phone Number field.10 digits and numeric only  and the format will be like example(ex.123-345-5678)")
                              </td>
                      </tr>
                  </table>
              </div>

              @******phno format*************24.08.2015***************end*****@
                @*  <div>
                      <table>
                          <tr>
                              <td><input type="text" onkeyup="autoFormAdvance(3,'areaCode','phonePre')" id="areaCode" maxlength="3" size="3"/></td>
                              <td> - </td>
                              <td><input type="text" onkeyup="autoFormAdvance(3,'phonePre','phoneSuf')" id="phonePre" maxlength="3" size="3" /></td>
                              <td> - </td>
                              <td> <input type="text" id="phoneSuf" onkeyup="mergeTotalPhNo()"  maxlength="4" size="4"/></td>
                          </tr>
                      </table>
                  </div>
*@






              @helper.inputText(signupForm("zip"),'_showConstraints -> false, '_label -> "Enter Zip Code", 'class -> "form-control", '_addon -> "glyphicon-home", 'placeholder -> "Zip Code (55555 or 55555-4444)", 'title -> "Please fill zip code properly, 5 or 9 digits with dash (11111-1111)")
              @helper.inputText(signupForm("email"),'_showConstraints -> false, '_label -> "Email(Required)", 'class -> "form-control", '_addon -> "@",  'placeholder -> "Enter email", 'title -> "please fill Email Properly ")
			  @_passwordPartial(signupForm)
             	@checkbox(signupForm("agreeToPolicy"), '_label -> Html(Messages("accept.terms")), '_labelSide -> "right")
			  	<input name="mobile" id="mobile" style="display: none"/>
			  	<input name="mail" id="mail" style="display: none"/>
                <button type="submit" class="btn btn-green" id="submitSignUp" disabled="disabled">@Messages("playauthenticate.signup.now")</button>			        
	      }
		  <br/>
		  <!--div>
		 	<legend>Providers</legend>
             		<div>
               		@Messages("playauthenticate.signup.oauth")
		      		@* Display list of available providers *@
		      		@_providerPartial(skipCurrent=false)
             		</div>
          </div-->
        </div>
      </div>
    </div>
  </div>
  <script>
	$('#agreeToPolicy').change(function() {
		$('#submitSignUp').prop('disabled', !this.checked);
	});

  </script>


	<script>

/*
   $( "#phNo" ).keyup(function(){
   //alert("on keyup")

   var phNo1;
   //var lastChar;
   var phNo = document.getElementById("phNo").value;
   //alert("phNo "+phNo)
   //previousLength = phNo.length;
   //alert("phNo "+phNo)
   currentLength = phNo.length;
   //alert("currentLength :: "+currentLength);
   //alert("previousLength :: "+previousLength);
var length;

if(currentLength == 4 || currentLength == 8){
var lastChar = phNo.charAt(currentLength-1);

if(lastChar!= '-'){
phNo = phNo.substring(0,currentLength-1);
phNo =phNo.concat("-");
phNo = phNo.concat(lastChar);

}
//phPart1 = phNo;
previousLength = phNo.length;
 $('#phNo').val(phNo);

}




else{

   if(currentLength<previousLength){
//alert("currentLength<previousLength");
   previousLength = currentLength;
   if(currentLength> 0){
   //alert("currentLength ::"+currentLength);
//alert("phNo "+phNo);
var lastChar = phNo.charAt(currentLength-1);

//alert("lastChar"+lastChar);
if(lastChar == '-'){
phNo = phNo.substring(0,currentLength-1);
}
else{
phNo = phNo.substring(0,currentLength);
}
   //alert("if return");
//phNo = phNo.substring(0,currentLength);
     $('#phNo').val(phNo);

   }

   phPart1 = null;
   }


else{
   //alert("else");

      if( phNo.length <8){
      previousLength = phNo.length;
      if(phNo.contains("-")){
      //alert("phNo.contains("-")")
      length = phNo.length;
      //alert("length "+length)
        phNo = phNo.substring(phNo.indexOf("-")+1,length);

      }
      length = phNo.length;

   // alert("length11 "+length)
      if(length == 3){
      //alert("length == 3"+phNo.concat("-"));
      if(phPart1!=null){
      phNo1 = phNo.concat("-");
      //alert("phNo1 :: "+phNo1);
      //alert("before phPart1 :: "+phPart1)
      phPart1 = phPart1.concat(phNo1);
      previousLength = phPart1.length;
      //alert("after phPart1 :: "+phPart1)
         $('#phNo').val(phPart1);
      }else{
      phNo = document.getElementById("phNo").value;
      phPart1 = phNo.concat("-");
      previousLength = phPart1.length;
      //alert("previousLength ")
      //alert("phPart1 :: "+phPart1)
         $('#phNo').val(phPart1);
      }


   // document.getElementById("phNo").innerHTML = phNo.concat("-");
       // alert("final :: "+document.getElementById("phNo").value);
      }
      }else{
      previousLength = phNo.length;
      }
 //aler("previousLength :: "+previousLength);
      }
      }


   });*/



	</script>



    <script>
        //============================phno partition validation ====================================24.08.2015==========start========================================//
$(document).ready(function(){

//===========chekbox refresh=================25.08.2015===============start=================================//

if($('#agreeToPolicy').is(':checked')) {
document.getElementById("agreeToPolicy").checked = false;
//$('#agreeToPolicy').prop('checked', "unchecked");
}
//===========chekbox refresh=================25.08.2015===============end=================================//
/*$("#phNo").hide();*/
var phNoValue = $("#phNo").val();
var phNoValuePart1;
var phNoValuePart2;
var phNoValuePart3;

if(phNoValue!= null){
phNoValuePart1  = phNoValue.substring(0,3);
$("#areaCode").val(phNoValuePart1);
phNoValuePart2 = phNoValue.substring(3,6);
$("#phonePre").val(phNoValuePart2);
phNoValuePart3 = phNoValue.substring(6,10);
$("#phoneSuf").val(phNoValuePart3);
}
});

function autoFormAdvance(afterNumChars,currentFormId,nextFormId) {
/*if(currentFormId.equals("phoneSuf")){
$("#phoneSuf").onkeyup();
}*/


	if(document.getElementById(currentFormId).value.length==afterNumChars) {
		document.getElementById(nextFormId).focus();
	}


}

function mergeTotalPhNo(){
//alert("within keyup");
var totalPhValue;
var length = $("#phoneSuf").val().length;

if(length == 4){
totalPhValue = $("#areaCode").val()+$("#phonePre").val()+$("#phoneSuf").val();
$("#phNo").val(totalPhValue);
//alert($("#phNo").val());
}

//alert("totalPhValue :: "+totalPhValue);


}

        //============================phno partition validation ====================================24.08.2015==========end========================================//
    </script>
}