@(localUser: models.security.User = null, loginForm: Form[_], loginTaxidForm: Form[_])

@import html5.tags.html._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main(Messages("playauthenticate.profile.title"),"profile") {
<!-- Main body
================== -->
  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Profiles</span></h1>
          </div>
        </div>
      </div>
    </div>
    @general.alerts()
    <div class="container">
      <div class="row">
		@profile.menu(localUser)
        <!-- Avatar & social links -->
        <div class="col-sm-8 col-md-9">
        <!-- EVENTS -->
          <div class="row">
            <div class="col-sm-12">
              <h4 class="hl"><i class="fa fa-map-marker"></i> Password Resets</h4>
              <hr>
			  <div id="well" class="well">
            	<legend>Reset My Password</legend>
            	<a href="@routes.Account.changePassword">Change Password</a>  
              </div>
              <div id="well" class="well">
            	<legend>Reset Event Admin Password</legend>
            	@form(routes.TaxidSignup.doForgotPassword(), 'class -> "form-inline", 'role -> "form") {
                    @text(loginTaxidForm("uniqueId"), 'class -> "form-control", '_showConstraints -> false, 'placeholder -> "Enter taxid", '_label_class -> "sr-only", '_help -> "nohelp")
                  <button type="submit" class="btn btn-blue">Send</button>
                }
              </div>
              <div id="well" class="well">
            	<legend>Reset PFP Admin Password</legend>
            	@form(routes.Signup.doForgotPassword(), 'class -> "form-inline", 'role -> "form") {
                    @text(loginForm("email"), 'class -> "form-control", '_showConstraints -> false, 'placeholder -> "Enter email", '_label_class -> "sr-only", '_help -> "nohelp")
                  <button type="submit" class="btn btn-blue">Send</button>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>             
}