@(localUser: models.security.User = null)

@import helper._

@import com.feth.play.module.pa.views.html._

@main(Messages("playauthenticate.profile.title"),"profile") {
<!-- Main body
================== -->
  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Profiles</span></h1>
          </div>
        </div>
      </div>
    </div>
    @general.alerts()
    <div class="container">
      <div class="row">
	  @profile.menu(localUser)
        <!-- Avatar & social links -->
        <div class="col-sm-8 col-md-9">
        <!-- EVENTS -->
          <div class="row">
            <div class="col-sm-12">
              <h4 class="hl"><i class="fa fa-map-marker"></i> Events</h4>
              <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                	@defining(if(ControllerUtil.isUserInRole(models.security.SecurityRole.ROOT_ADMIN) || ControllerUtil.isUserInRole(models.security.SecurityRole.SYS_ADMIN)) {Event.findAllEvents}else{ Event.findAllByUserId(localUser.id)}) { events =>
                     @if(events == null || events.isEmpty) {
                        <tr><td>No Events Created For This User</td></tr>
                        }  else {
                        <tr><td>Name</td><td>Status</td><td>Event Start</td><td>Goal</td><td></td></tr>
                        @for(event <- events) {
                        	<tr>
                        	@if(models.Event.daysUntilEvent(event.eventStart) >= 0) {
                        	@form(routes.EventMgmt.updateInline(event), 'role -> "form", 'class -> "form-inline") {
                        		<td><a href="@routes.EventWorkflowMgmt.update(event)">@event.name</a></td>
                        		@if(Team.findByEventId(event.id).isEmpty()) {
								<td>@event.status.value</td>
								} else {
                        		<td><select id="status" name="status" class="form-control">            
	           							<option value="NEW" @if(event.status == Event.PublishStatus.NEW){ selected}>New</option>
            							<option value="PRIVATE" @if(event.status == Event.PublishStatus.PRIVATE){ selected}>Private</option>
            							<option value="LIVE" @if(event.status == Event.PublishStatus.LIVE){ selected}>Live</option>
            							<option value="LOCKED" @if(event.status == Event.PublishStatus.LOCKED){ selected}>Locked</option>
            					</select></td>
            					}
	 			 				<td><input type="text" id="eventStart" name="eventStart" value="@event.eventStart.format("MM/dd/yyyy")" class="form-control" readonly="readonly"></td>
	 			 				<td><input type="text" id="goal" name="goal" value="@event.goal" class="form-control"></td> 
	 			 				<td><button class="btn btn-default" type="submit">Save</button>@**if(!Donation.existsByEventId(event.id)) {&nbsp;<a href="@routes.EventMgmt.remove(event)" class="btn btn-default" type="button">Remove</a>}**@</td>
				}
				} else {
					<td><a href="@routes.EventMgmt.get(event)">@event.name</a></td>
					<td>@event.status.value</td>
					<td>@event.eventStart.format("MM/dd/yyyy")</td>
					<td>@event.goal</td>
					<td></td>
				}
				</tr>
                        }
                        }
                        }
                </tbody>
              </table>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>             
}