@(localUser: models.security.User = null, event: Event = null)

@import helper._

@import com.feth.play.module.pa.views.html._

@main(Messages("playauthenticate.profile.title"),"profile") {
<!-- Main body
================== -->
  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Profiles</span></h1>
          </div>
        </div>
      </div>
    </div>
    @general.alerts()
    <div class="container">
      <div class="row">
        @profile.menu(localUser)
        <!-- Avatar & social links -->
        <div class="col-sm-8 col-md-9">
 <!-- PFPS -->
          <div class="row">
            <div class="col-sm-12">
              <h4 class="hl"><i class="fa fa-map-marker"></i> Reports</h4>
              <hr>
              @defining(if(ControllerUtil.isUserInRole(models.security.SecurityRole.ROOT_ADMIN) || ControllerUtil.isUserInRole(models.security.SecurityRole.SYS_ADMIN)) {Event.findAllEvents}else{ Event.findAllByUserId(localUser.id)}) { events =>
              	@if(events == null || events.isEmpty) {
              		<p>No Events for this user.</p>
              	} else {
              	  <p>Select Event</p> 
              	  <div class="form-horizontal">
	              <select id="adminsEvents" name="adminsEvents" class="form-control">
	              	@for(event <- events) {
	              		<option value="@event.slug">@event.name</option>	
	              	}	
	              </select>
	              <br/>
	              <a class="btn btn-primary" href="#" id="getReports" role="button">Get Reports</a>
	              </div>
	            }
              }
               @if(event != null) {
              <div id="reportsByEvent">
              	@profile.profileReportsForm(event)
              </div>
              }

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>             
  <script>
  $('#getReports').click(function(){
  	var donationLoad = '@routes.Application.profileReports()';
    window.location.href = donationLoad + "?id=" + $('#adminsEvents').val();
  });
  </script>
}
